@import "../../default/css/style.css";

body {
    width: auto;
    max-width: inherit;
    min-width: inherit;
    background: gainsboro;
    padding: 0 1em;
}
.postbox {
    display: inline-block;
    width: 38em;
    vertical-align: top;
    box-shadow: 2px 2px 6px silver;
}
.postbox > p {
    margin: .5em;
}
.postboxentry {
    border: .5em white solid;
    max-height: 24em;
    overflow: auto;
}
.postbox h2 {
    margin-left: 0;
    border-bottom-color: gainsboro;
}
.headbox {
    border: .5em whitesmoke solid;
}
.footerlinks, .pages, .menu {
    background: whitesmoke;
    margin-left: -.25em;
    padding-left: 2em;
}
.menu {
    text-align: left;
    margin-bottom: .5em;
}
.pages {
    margin-top: 1em;
}
.menu .active, .menu .active:hover {
    background: white;
    border: 1px silver solid;
}
body > div {
    margin-left: .5em;
}
.info, .error {
    display: block;
    border-width: .5em;
    border-color: transparent;
}
.menu input[type="text"] {
    background: white;
    box-shadow: none;
}

