@import "../../default/css/style.css";

body {
    width: auto;
    max-width: inherit;
    min-width: inherit;
    background: gainsboro;
    padding: 0 1em;
}
.postbox {
    display: inline-block;
    width: 38em;
    vertical-align: top;
    border: none;
    box-shadow: none;
}
.postboxentry {
    max-height: 24em;
    overflow: auto;
}
.menu {
    text-align: left;
    width: 100%;
}
.menu .active, .menu .active:hover {
    border: none;
}
body > div {
    margin-left: .5em;
}
.info, .error {
    display: block;
}
input, textarea, input[type="text"], input[type="password"] {
    box-shadow: none;
}

