@import "../../default/css/style.css";

body {
    width: auto;
    max-width: inherit;
    min-width: inherit;
    background: gainsboro;
    padding: 0;
    margin: 0;
    text-align: center;
}
.postbox {
    text-align: left;
    display: inline-block;
    width: 38em;
    vertical-align: top;
/*    box-shadow: 2px 2px 6px silver; */
    box-shadow: none;
}
.postbox > p {
    margin: .5em;
}
.postboxentry {
    border: .25em white solid;
    max-height: 24em;
    overflow: auto;
}
.postbox h2 {
    margin-left: 0;
    border-bottom-color: gainsboro;
}
.headbox {
    border: .25em whitesmoke solid;
}
.footerlinks, .pages, .menu {
    background: whitesmoke;
    margin: 0;
}
.menu {
    margin-bottom: .25em;
    border-width: 0 1px 1px 1px;
    padding-left: 2em;
}
.footerlinks {
    margin-bottom: 0;
}
.footerlinks, .pages {
    margin-top: .75em;
}
.pages {
    margin-bottom: -1em;
    text-align: center;
}
.menu .linktext {
    padding: .2em;
    border: none;
}
.menu .active, .menu .active:hover {
    background: steelblue;
    border: none;
    color: white;
}
body > div {
    margin-left: .5em;
}
.info, .error, .options {
    margin: .5em auto;
    display: block;
    border-width: .25em;
    border-color: transparent;
}
.menu input[type="text"], input[type="text"], input[type="password"], textarea {
    background: white;
    box-shadow: none;
}
.postbox img {
    border-color: silver;
}
.postbox .avatar {
    border: none;
}
img.smiley, img.icon {
    width: auto;
    height: auto;
    vertical-align: text-top;
}
.activepost {
    background: silver;
    border-color: silver;
}
.activepost h2 {
    border-bottom-color: gray;
}
.info {
    border-color: forestgreen;
}
.error {
    border-color: firebrick;
}
.newpost {
    box-shadow: none;
}

