@import "../../default/css/style.css";

body {
    width: auto;
    max-width: inherit;
    min-width: inherit;
    background: gainsboro;
    padding: 0 1em;
}
.postbox {
    display: inline-block;
    width: 38em;
    vertical-align: top;
}
.menu {
    text-align: left;
}

body > div {
    margin-left: .5em;
}
