@import "../../default/css/style.css";

body {
    width: auto;
    max-width: inherit;
    min-width: inherit;
    background: gainsboro;
    padding: 0;
    margin: 0;
    text-align: center;
}
.postbox {
    text-align: left;
    display: inline-block;
    width: 38em;
    vertical-align: top;
/*    box-shadow: 2px 2px 6px silver; */
    box-shadow: none;
}
.postbox > p {
    margin: .5em;
}
.postboxentry {
    border: .5em white solid;
    max-height: 24em;
    overflow: auto;
}
.postbox h2 {
    margin-left: 0;
    border-bottom-color: gainsboro;
}
.headbox {
    border: .5em whitesmoke solid;
}
.footerlinks, .pages, .menu {
    background: whitesmoke;
    margin: 0;
}
.menu {
    text-align: left;
    margin-bottom: .5em;
    border-width: 0 1px 1px 1px;
    padding-left: 2em;
}
.footerlinks {
    margin-bottom: 0;
}
.footerlinks, .pages {
    margin-top: 1em;
}
.pages {
    margin-bottom: -1em;
}
.menu .linktext {
    padding: .4em;
    border: 0 transparent solid;
    border-width: 0 1px 0 1px;
}
.menu .active, .menu .active:hover {
    background: white;
    border-color: silver;
}
body > div {
    margin-left: .5em;
}
.info, .error {
    display: block;
    border-width: .5em;
    border-color: transparent;
}
.menu input[type="text"], input[type="text"], input[type="password"], textarea {
    background: white;
    box-shadow: none;
}

