.menu {
    text-align: center;
    padding: 0.15em 0;
    background: #333 url('../img/mg.png') repeat-x bottom;
    border-bottom: 2px #999 solid;
    box-shadow: 0 1px 7px #300;
    width: 100%;
    max-width: 100%;
    position: fixed;
    margin-top: -1.75em;
    white-space: nowrap;
}
.menu .name {
    color: #fff;
}
.menu form {
    display: inline;
}
.menu input[type="text"] {
    background-color: #666;
    border-color: #000;
    box-shadow: inset 1px 1px 2px #111;
    color: #ccc;
    width: 7.5em;
}
.menu .activesearch {
    border: 1px #963 solid;
}
.menu button {
    border: none;
    display: inline;
    background: none;
}
.menu input.activesearch {
    background-color: #630;
}
.menu a, .menu .linktext {
    text-decoration: none;
    border: 1px transparent solid;
    border-radius: 2px;
}
.menu .username, .menu .clock {
    color: #666;
}
.menu .mark {
    color: #c93;
}
.menu .linktext { 
    color: #69c;
}
.menu .active .mark {
    color: #fc6;
}
.menu .active {
    border-color: #69c;
    color: #9cf;
    background: #036;
}
