* {
    padding: 0;
    margin:  0;
}

body {
    background: #69c url('../img/hg.png') fixed;
    color: #003;
    margin-top: 3em;
}
body > * {
    margin: 0 auto;
    max-width: 55em;
}

.banner, .bottom {
    position: fixed;
    z-index: 1;
}
.banner {
    left: 0;
    top: 2.1em;
}
.bottom {
    right: 0;
    bottom: 0;
}

p {
    margin-top: 1em;
}
