* {
    padding: 0;
    margin:  0;
}

body {
    background: #69c url('../img/hg.png');
    padding-top: 2.25em;
    color: #003;
}
body > * {
    margin: 0 auto;
    max-width: 65em;
}

p {
    margin-top: .5em;
}
