* {
    padding: 0;
    margin:  0;
}

body {
    background: #69c url('../img/hg.png');
    padding-top: 2.25em;
    color: #003;
}
body > * {
    margin: 0 auto;
    max-width: 50em;
}

.footerlinks {
    text-align: center;
    color: #036;
    margin-top: .25em;
}
.footerlinks a {
    color: #036;
}

.footerlinks * {
    font-size: .5em;
}
