.forum        h2 { background-color: #abf }
.notes        h2 { background-color: #ffc }
.msgs         h2 { background-color: #cfc }
.ownpost      h2 { background-color: #ccc }
.options      h2 { background-color: #fcf }
.forumownpost h2 { background-color: #bcd }
.msgsownpost  h2 { background-color: #bdb }

.menu .linkforum { color: #369 }
.menu .linknotes { color: #993 }
.menu .linkmsgs { color: #396 }
.menu .linkoptions { color: #969 }
.menu .linkregister { color: #963 }
.menu .linklogout { color: #966 }

.menu .activeforum {
    border-color: #369;
    color: #9cf;
    background: #003;
}
.menu .activenotes {
    border-color: #993;
    color: #ff9;
    background: #330;
}
.menu .activemsgs {
    border-color: #396;
    color: #9fc;
    background: #030;
}
.menu .activeoptions {
    border-color: #939;
    color: #f9f;
    background: #303;
}
