.error {
    color: #c30;
}
a {
    color: #36c;
    text-decoration: underline;
}
a:hover {
    color: #039;
    text-decoration: underline;
    text-shadow: 0 0 2px #69f;
}

h1, h2, h3, h4 {
    color: #666699;
    font-size: 1em;
    font-weight: bolder;
}

blockquote {
    border: 1px #bbb solid;
    background: #ddd;
    color: #339;
    font-family: serif;
    padding-left: 1em;
}
input, textarea {
    border: 1px #000 solid;
    background: #fff;
    color: #006;
}
.postbox textarea {
    width: 52.5em;
    height: 8.5em;
    border-color: #666;
    background: #eee;
}
.wysiwyg, .postbox textarea {
    margin-bottom: 1em;
}
.divider {
    color: #000;
}
input:focus, textarea:focus {
    border-color: #66c;
}
button, input[type="submit"], input[type="reset"], select {
    cursor: pointer;
    border: 1px #000 solid;
    color: #ccc;
    background: #404040;
}
button:hover, input[type="submit"]:hover, input[type="reset"]:hover, select:hover {
    color: #fff;
    border-color: #222;
    background: #666;
}

form table {
    border: none;
    background: none;
    border-collapse: collapse;
}
form th, form td {
    padding: .5em;
    vertical-align: top;
}
form th {
    text-align: right;
}
