.error {
    color: #c30;
}
a {
    color: #36c;
    text-decoration: underline;
}
a:hover {
    color: #00f;
    text-decoration: none;
}

h1, h2, h3, h4 {
    color: #666699;
    font-size: 1em;
    font-weight: bolder;
}

blockquote {
    color: #339;
    border-left: 1px #339 solid;
    padding-left: .5em;
}
input, textarea {
    border: 1px #000 solid;
    background: #fff;
    color: #006;
}
input[type="text"], input[type="password"] {
    width: 10em;
}
.postbox textarea {
    width: 47.5em;
    height: 5em;
    border-color: #666;
}
.divider {
    color: #000;
}
input:hover, textarea:hover {
    border-color: #99f;
}
input:focus, textarea:focus {
    border-color: #66c;
}
button, input[type="submit"], input[type="reset"], select {
    cursor: pointer;
    border: 1px #000 solid;
    color: #ccc;
    background: #404040;
}
button:hover, input[type="submit"]:hover, input[type="reset"]:hover, select:hover {
    color: #fff;
    border-color: #222;
    background: #666;
}

form table {
    border: none;
    background: none;
    border-collapse: collapse;
}
form th, form td {
    padding: .5em;
    vertical-align: top;
}
form th {
    text-align: right;
}
