.menu {
    text-align: center;
    padding: 0.25em 0;
    background: #333;
    border-color: #000;
    border-style: solid;
    border-width: 0 0 1px 0;
    box-shadow: 0 0 .2em #000;
    width: 100%;
    max-width: 100%;
    position: fixed;
    margin-top: -2.25em;
    white-space: nowrap;
}
.menu, .menu a {
    color: #999;
    text-decoration: none;
}
.menu .name {
    color: #fff;
}
.menu a:hover .linktext, .menu .menu a:hover {
    color: #fff;
}
.menu a:hover *, .menu a:hover {
    text-shadow: 1px 1px 3px #666;
}
.menu form {
    display: inline;
}
.menu .activesearch {
    border: 1px #963 solid;
}
.menu input.activesearch {
    background-color: #fc9;
}
.menu input[type="submit"].activesearch {
    background-color: #630;
}
.menu .linktext {
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.popup .menu {
    position: absolute;
    text-align: left;
    display: none;
    padding: .5em 1.5em;
    width: inherit;
    margin: 0;
    top: 0;
    left: 0;
}
.menu .popup:hover .menu {
    display: block;
}
.menu input[type="text"] {
    background-color: #666;
    color: #ccc;
}
