.menu {
    text-align: center;
    padding: 0.15em 0;
    background: #333;
    border-color: #000;
    border-style: solid;
    border-width: 0 0 1px 0;
    box-shadow: 0 0 .2em #000;
    width: 100%;
    max-width: 100%;
    margin-top: -1.85em;
    white-space: nowrap;
    position: fixed;
}
.menu, .menu a {
    color: #999;
    text-decoration: none;
}
.menu .name {
    color: #fff;
}
.menu a:hover .linktext, .menu .menu a:hover {
    color: #fff;
}
.menu form {
    display: inline;
}
.menu .activesearch {
    border: 1px #963 solid;
}
.menu input.activesearch {
    background-color: #fc9;
}
.menu input[type="submit"].activesearch {
    background-color: #630;
}
.menu .linktext {
    text-decoration: none;
    border: 1px transparent solid;
}
.popup > .menu {
    text-align: left;
    display: none;
    padding: .25em .5em;
    width: inherit;
    position: absolute;
    margin: 1.25em 0;
    border-width: 1px;
}
.popup:hover > .menu {
    display: inline-block;
}
.menu input[type="text"] {
    background-color: #666;
    border-color: #000;
    color: #ccc;
    width: 7.5em;
}

.menu .category {
    border-bottom: 1px #999 solid;;
    text-decoration: none;
}
