.menu {
    text-align: center;
    position: fixed;
    left: -0.5em;
    top: 0;
    padding: 0.25em;
    width: 100%;
    max-width: 100%;
    background: #333;
    border-color: #000;
    border-style: solid;
    border-width: 0 0 1px 0;
    box-shadow: 0 0 8px #000;
    min-height: 1.5em;
}
.menu, .menu a {
    color: #999;
    text-decoration: none;
}
.menu .logout {
    color: #f66;
}
.menu .name {
    color: #fff;
}
.menu a:hover .linktext, .menu .menu a:hover {
    color: #fff;
}
.menu a:hover *, .menu a:hover {
    text-shadow: 1px 1px 3px #666;
}
.menu form {
    display: inline;
}
.menu .activesearch {
    border: 1px #963 solid;
}
.menu input.activesearch {
    background-color: #fc9;
}
.menu input[type="submit"].activesearch {
    background-color: #630;
}
.menu .linktext {
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.menu .menu {
    border-width: 1px;
    position: absolute;
    top: 1.25em;
    text-align: left;
    left: 2em;
    display: none;
    width: 12em;
    padding: .5em 1.5em;
}
.menu .popup:hover .menu {
    display: block;
}
