.pages {
    text-align: right;
}
.pages a {
    color: #03f;
}
.postbox {
    background: #ccc;
    border: 1px #036 solid;
}
.postbox h2 {
    border-bottom: 1px #fff solid;
}
.postbox, .pages {
    margin-top: .25em;
}
.postbox > * {
    padding: .25em 1em;
}
.postbox img {
    max-width: 256px;
    max-height: 128px;
    border: 1px #fff solid;
}

.clear {
    clear: both;
}
.postbox img.buttonicons {
    border: none;
    margin-right: .5em;
}
.postbox .category {
    color: #339;
}
.postbox .timestamp {
    color: #99c;
}
.postbox .titleinfo {
    font-weight: normal;
}
.postbox .inactive {
    color: #999;
}
.activepost {
    height: 1px;
    overflow: hidden;
}
.titleinfo .category {
    border-bottom: 1px #36c solid;
    text-decoration: none;
}

