.pages {
    text-align: right;
}
.pages a {
    color: #03f;
}
.postbox {
    background: #fcc;
    border: 1px #666 solid;
}
.postbox, .pages {
    margin-top: .25em;
}
.postbox > * {
    margin: .5em 1em;
}
.postbox img {
    max-width: 512px;
    max-height: 256px;
    border: 1px #fff solid;
}
.postbox > img.avatar {
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
    height: 2em;
}
.postbox:active img.avatar, div.new img.avatar {
    height: auto;
}

.clear {
    clear: both;
}
.postbox img.buttonicons {
    border: none;
    margin-right: .5em;
}
.postbox .category {
    color: #339;
}
.postbox .timestamp {
    color: #99c;
}
.postbox .titleinfo {
    font-weight: normal;
}
.activepost {
    height: 1px;
    overflow: hidden;
}
