.pages {
    text-align: right;
}
.pages a {
    color: #03f;
}
.postbox {
    background: #fcc;
    border: 1px #333 solid;
}
.postbox, .pages {
    margin-top: .25em;
}
.postbox > * {
    margin: .5em 1em;
}
.postbox img {
    max-width: 512px;
    max-height: 256px;
    border: 2px #fff solid;
    box-shadow: 0 0 1px #000;
}

.clear {
    clear: both;
}
.postbox img.buttonicons {
    border: none;
    margin-right: .5em;
}
.postbox .category {
    color: #339;
}
.postbox .timestamp {
    color: #99c;
}
.postbox .titleinfo {
    font-weight: normal;
}
.postbox .inactive {
    color: #999;
}
.activepost {
    height: 1px;
    overflow: hidden;
}
