.pages {
    text-align: right;
}
.pages a {
    color: #03f;
}
.postbox {
    background: #ccc;
    border: 1px #036 solid;
    color: #000;
}
.postbox h2 {
    background: #fff url('../img/tg.png') bottom repeat-x;
    color: #666;
    font-size: 0.75em;
}
.postbox, .pages {
    margin-top: 2px;
}
.postbox > * {
    padding: .25em 1em;
}
.postbox img {
    max-width: 256px;
    max-height: 128px;
    border: 1px #fff solid;
}
.postbox .titleinfo img {
    border: none;
}

.clear {
    clear: both;
}
.postbox img.buttonicons {
    border: none;
    margin-right: .5em;
}
.postbox .titleinfo {
    font-weight: normal;
}
.activepost {
    height: 1px;
    overflow: hidden;
}
.titleinfo .category {
    text-decoration: none;
}

