@import "threadalign.css";
* {
    padding: 0;
    margin: 0;
}
body {
    background: #9cf url('../img/hg.png');
    color: #003;
    padding: 1em 2em;
    margin: 0;
    line-height: 1.5;
    max-width: 100em;
}
body > div, body > form {
    margin: 8px 0;
    padding: 0.5em 1em;
    background: #ccc;
    border-width: 0 0 0 3px;
    border-color: #fff;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #666;
}
.error {
    color: #c30;
}
a {
    color: #36c;
    text-decoration: underline;
}
a:hover {
    color: #039;
    text-decoration: underline;
    text-shadow: 0 0 2px #69f;
}
div.postbox > img {
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #999;
}
div.clear {
    clear: both;
}
.menu {
    text-align: center;
    margin: -1em 0;
    position: fixed;
    right: 1em;
    background: #333;
    border: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 1px 1px 4px #666;
}
.menu, .menu a {
    color: #999;
    text-decoration: none;
}
.menu .logout {
    color: #f66;
}
.menu .name {
    color: #fff;
}
.menu .linktext {
    text-decoration: underline;
}
.menu a:hover .linktext {
    color: #fff;
}
.menu a:hover * {
    text-shadow: 1px 1px 3px #666;
}
h1, h2, h3, h4 {
    font-size: 1em;
    font-weight: bolder;
    color: #669;
}
h1.title {
    color: #003;
    font-size: 1.5em;
    text-shadow: 1px 1px 4px #666;
}
.footer {
    border: none;
    background: none;
    text-align: center;
    box-shadow: none;
    margin-bottom: 3em;
}
.footer form {
    display: inline;
}
p {
    margin-top: 1.5em;
}
blockquote {
    border-style: solid;
    border-color: #bbb #fff #fff #bbb;
    background: #ddd;
    border-width: 1px;
    color: #336;
    padding-left: 1em;
    border-radius: 4px;
}
