@import "threadalign.css";
* {
    padding: 0;
    margin: 0;
}
body {
    background: #9bc url('../img/hg.png') fixed;
    color: #003;
    margin: 0 auto 3em auto;
    max-width: 55em;
}
.error {
    color: #c30;
}
a {
    color: #36c;
    text-decoration: underline;
}
a:hover {
    color: #039;
    text-decoration: underline;
    text-shadow: 0 0 2px #69f;
}
.toppagelink {
    margin-top: 1em;
}
.pages {
    border-top: 1px #fff solid;
    margin-top: 1em;
    padding-top: 1em;
    text-align: right;
}
.postbox {
    background: url('../img/ug.png') #ccc repeat-x bottom;
    border: 1px #333 solid;
    box-shadow: 1px 1px 4px #333;
    margin-top: 1em;
    border-radius: 3px;
    overflow: hidden;
}
.postbox textarea {
    width: 52.5em;
    height: 10em;
    border-color: #999;
    background: transparent;
}
.postbox > * {
    margin: 1em;
}
.postbox img {
    max-width: 512px;
    max-height: 256px;
}
.postbox > img.avatar {
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #999;
    height: 2em;
}
.postbox:active img.avatar, div.new img.avatar {
    height: auto;
}

.clear {
    clear: both;
}
.menu {
    text-align: right;
    position: fixed;
    left: -0.5em;
    padding: 0.25em;
    width: 100%;
    background: url('../img/tg.png') #404040 repeat-x bottom;
    border-color: #000;
    border-style: solid;
    border-width: 0 0 1px 0;
    box-shadow: 0 0 6px #000;
}
.menu, .menu a {
    color: #999;
    text-decoration: none;
}
.menu .logout {
    color: #f66;
}
.menu .name {
    color: #fff;
}
.menu .linktext {
    text-decoration: underline;
}
.menu a:hover .linktext {
    color: #fff;
}
.menu a:hover * {
    text-shadow: 1px 1px 3px #666;
}
h1, h2, h3, h4 {
    color: #666699;
    font-size: 1em;
    font-weight: bolder;
}
h1.title {
    color: #fff;
    font-size: 1.5em;
    text-shadow: 1px 1px 4px #404040;
    border-color: #fff;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding-top: 2em;
}
.footer {
    border: none;
    background: none;
    text-align: center;
    box-shadow: none;
    margin-bottom: 3em;
    margin-top: 1em;
}
.footer form {
    display: inline;
}
p {
    margin-top: 1em;
}
.signature {
    border-top: 2px #ccc groove;
    font-size: 0.8em;
    text-align: right;
}
.signature p {
    margin-top: 0;
}
blockquote {
    border-style: solid;
    border-color: #bbb #fff #fff #bbb;
    background: #ddd;
    border-width: 1px;
    color: #336;
    padding-left: 1em;
    border-radius: 4px;
}
input, textarea {
    border: 1px #000 solid;
    background: #fff;
    color: #006;
}
.divider {
    color: #666;
    text-shadow: -1px -1px 0px #111;
}
input:focus, textarea:focus {
    box-shadow: 0 0 1px #fff;
    border-color: #66c;
}
button, input[type="submit"], input[type="reset"], select {
    border: 1px #000 solid;
    color: #ccc;
    background: url('../img/tg.png') #404040 repeat-x bottom;
}
button:hover, input[type="submit"]:hover, input[type="reset"]:hover, select:hover {
    box-shadow: 0 0 1px #fff;
    color: #fff;
    border-color: #222;
    background: url('../img/tg.png') #666 repeat-x bottom;
}
.menu form {
    display: inline;
}
