* {
    padding: 0;
    margin: 0;
}
body {
    background: #69c url('../img/hg.png') fixed;
    color: #003;
    margin: 0 auto 3em auto;
    max-width: 55em;
}
.error {
    color: #c30;
}
a {
    color: #36c;
    text-decoration: underline;
}
a:hover {
    color: #039;
    text-decoration: underline;
    text-shadow: 0 0 2px #69f;
}
.toppagelink {
    margin-top: 1em;
}
.pages {
    text-align: right;
    padding: .5em 1em;
}
.postbox, .pages {
    background: url('../img/ug.png') #fcf repeat-x bottom;
    border: 1px #fff solid;
    box-shadow: 1px 1px 4px #333;
    margin-top: 1em;
    border-radius: 3px;
    overflow: hidden;
}
.postbox > * {
    margin: 1em;
}
.postbox img {
    max-width: 512px;
    max-height: 256px;
    border: 4px #fff solid;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #999;
}
.postbox > img.avatar {
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #999;
    height: 2em;
}
.postbox:active img.avatar, div.new img.avatar {
    height: auto;
}

.clear {
    clear: both;
}
.menu {
    text-align: right;
    position: fixed;
    left: -0.5em;
    top: 0;
    padding: 0.25em;
    width: 100%;
    background: url('../img/tg.png') #404040 repeat-x bottom;
    border-color: #ccc;
    border-style: solid;
    border-width: 0 0 1px 0;
    box-shadow: 0 0 6px #000;
    z-index: 3;
    min-height: 1.5em;
}
.menu, .menu a {
    color: #999;
    text-decoration: none;
}
.menu .logout {
    color: #f66;
}
.menu .name {
    color: #fff;
}
.menu a:hover .linktext {
    color: #fff;
}
.menu a:hover * {
    text-shadow: 1px 1px 3px #666;
}
h1, h2, h3, h4 {
    color: #666699;
    font-size: 1em;
    font-weight: bolder;
}
h1.title {
    color: #fff;
    font-size: 1.5em;
    text-shadow: 1px 1px 4px #404040;
    padding-top: 2em;
}
p {
    margin-top: 1em;
}
blockquote {
    border-style: solid;
    border-color: #bbb #fff #fff #bbb;
    background: #ddd;
    border-width: 1px;
    color: #336;
    padding-left: 1em;
    border-radius: 4px;
}
input, textarea {
    border: 1px #000 solid;
    box-shadow: inset 0 0 1px #ccc;
    background: #fff;
    color: #006;
    border-radius: 2px;
}
.postbox textarea {
    width: 52.5em;
    height: 8.5em;
    border-color: #fff;
    background: #eee;
    box-shadow: inset 0 0 4px #999;
}
.wysiwyg, .postbox textarea {
    margin-bottom: 1em;
    box-shadow: 1px 1px 2px #999;
}
.divider {
    color: #666;
    text-shadow: -1px -1px 0px #111;
}
input:focus, textarea:focus {
    box-shadow: 0 0 1px #fff;
    border-color: #66c;
}
button, input[type="submit"], input[type="reset"], select {
    cursor: pointer;
    border: 1px #000 solid;
    color: #ccc;
    background: url('../img/bg.png') #404040 repeat-x bottom;
    box-shadow: none;
}
.postbox button, .postbox input[type="submit"], .postbox input[type="reset"], .postbox select {
    box-shadow: 2px 2px 3px #666;
}
button:hover, input[type="submit"]:hover, input[type="reset"]:hover, select:hover {
    box-shadow: 0 0 1px #fff;
    color: #fff;
    border-color: #222;
    background: url('../img/tg.png') #666 repeat-x bottom;
}
.menu form {
    display: inline;
}
.new {
    border-color: #fc6;
}
.pages {
    background-color: #bbb;
    border-color: #ccc;
    box-shadow: 1px 1px 2px #666;
}
.banner, .bottom, .actionicon {
    z-index: 1;
    position: fixed;
}
.banner {
    left: 0;
    top: 2.1em;
}
.actionicon {
    left: 2.5em;
    top: 4em;
}
.bottom {
    right: 0;
    bottom: 0;
}
body * {
    position: relative;
    z-index: 2;
}
.postbox img.buttonicons {
    border: none;
    box-shadow: none;
    border-radius: none;
    margin-right: .5em;
}

.menu .activesearch {
    border: 1px #963 solid;
}
.menu input.activesearch {
    background-color: #fc9;
}
.menu input[type="submit"].activesearch {
    background-color: #630;
}

.menu .linkforum { border-color: #369 }
.menu .linknotes { border-color: #993 }
.menu .linkmsgs  { border-color: #396 }
.menu .linktext {
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.menu .active {
    border-radius: 2px;
}
.menu .activeforum {
    border-color: #369;
    color: #9cf;
    background: #003;
}
.menu .activenotes {
    border-color: #993;
    color: #ff9;
    background: #330;
}
.menu .activemsgs {
    border-color: #396;
    color: #9fc;
    background: #030;
}
.nodata {
    color: #930;
}
.nodata, div.error {
    background-color: #fcc;
}
.mark {
    color: #f96;
}
.forum   { background-color: #ccf }
.notes   { background-color: #ffc }
.msgs    { background-color: #cfc }
.ownpost { background-color: #ccc }

.menu .menu {
    border-width: 1px;
    border-radius: 4px;
    position: absolute;
    top: 1.25em;
    text-align: left;
    left: 2em;
    display: none;
    z-index: 4;
    width: 12em;
    padding: .5em 1.5em;
}
.menu .popup:hover .menu {
    display: block;
}
