{
    "cookiesecret": "geh doch heim",
    "dsn":"DBI:SQLite:database=/tmp/testdb.sqlite",
    "user":"",
    "password":"",
    "dbprefix":"asb_",
    "cryptsalt":"123456789",
    "postlimit":"10",
    "title":"Alternatives Einfaches Brett",
    "pagelinkpreview":2,
    "sessiontimeout":3600,
    "theme":"default",
    "debug":0,
    "acttitles":{
        "forum":"Forenboard",
        "notes":"Notizen",
        "msgs":"Privatnachrichten",
        "auth":"Anmeldung",
        "options":"Einstellungen"
    }
}
