* {
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    font-family: monospace;
    color: black;
}
body {
    padding: 4px;
    background: gainsboro;
    overflow: hidden;
    width: 620px;
    height: 376px;
    margin: auto;
}
table {
    border-collapse: collapse;
    border: none;
}
div, textarea, button, select {
    border: 1px gray solid;
}
div, textarea {
    display: inline-block;
    overflow: auto;
}
#msglog, #msg {
    width: 400px;
    min-width: 400px;
    max-width: 400px;
}
#userlist, #buttonlist {
    width: 200px;
}
#msg, #buttonlist {
    height: 60px;
    min-height: 60px;
}
#buttonlist {
    max-height: 60px;
}
#userlist, #msglog {
    height: 300px;
}
#msglog {
    background: whitesmoke;
}
#userlist, #msg, #msglog {
    padding: 1px;
    margin: 1px;
}
#buttonlist, button {
    padding: 0;
    margin: 1px;
}
#buttonlist {
    vertical-align: top;
    border-color: transparent;
}
button, #refreshtime {
    background: silver;
    border-color: dimgray;
    height: 20px;
    text-align: center;
}
button:hover, #refreshtime:hover {
    border-color: silver;
    background: whitesmoke;
    cursor: pointer;
}
button {
    width: 54px;
}
button:active, #refreshtime:active {
    border-color: black;
    background: white;
    cursor: pointer;
}
option {
    background: white;
    cursor: pointer;
}
#refreshtime {
    margin-top: 18px;
    width: 118px;
}
#msg:hover {
    border-color: dimgray;
}
#msg:focus {
    border-color: black;
}
#userlist .timestamp {
    color: gray;
    margin-left: 10px;
}
#userlist .username {
    white-space: nowrap;
}
#userlist {
    background: gainsboro;
}
