* {
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    color: black;
    background: gainsboro;
    overflow: hidden;
    width: 65em;
    height: 30em;
    margin: 0 auto;
    padding: .5em;
}
body > * {
    background: transparent;
}
table {
    border-collapse: collapse;
    border: none;
    margin: 0 auto;
}
div, textarea {
    border: .1em gray solid;
}
div, textarea {
    display: inline-block;
    overflow: auto;
}
#msglog, #textinput {
    width: 45em;
    min-width: 45em;
    max-width: 45em;
    font-size: 1em;
    font-family: sans-serif;
}
#userlist, #buttonlist {
    width: 10em;
}
#textinput {
    height: 5em;
    min-height: 5em;
}
#userlist, #msglog {
    height: 25em;
}
#msglog {
    background: whitesmoke;
    color: navy;
}
#userlist, #textinput, #msglog {
    padding: .25em;
    margin: .25em;
}
#buttonlist {
    border-color: transparent;
    max-height: 60em;
    padding-left: 1.5em;
    overflow: visible;
}
#buttonlist > * {
    margin-bottom: .25em;
}
#textinput:hover {
    border-color: dodgerblue;
}
#textinput:focus {
    border-color: blue;
}
#userlist .timestamp {
    color: gray;
    margin-left: 1.5em;
}
#userlist .username {
    white-space: nowrap;
}
#userlist {
    background: gainsboro;
}
.titlebanner {
    background: inherit;
    font-size: 1.5em;
    padding: 0;
    text-align: center;
    border: none;
}
#msglog .ownmsg {
    color: black;
}
#msglog .username {
    font-weight: bold;
    color: black;
    text-decoration: underline;
}
#msglog .timestamp {
    color: gray;    
    font-size: 0.75em;
}
#msglog p {
    text-indent: -5em;
    padding-left: 5em;
}
#msglog .sameuser {
    text-indent: -3.25em;
}
#msglog .sameuser .timestamp {
    color: lightgray;
}
.myself {
    color: red;
    font-weight: bold;
}
#msglog pre {
    font-family: monospace;
    font-size: 1em;
    color: chocolate;
}
#msglog a {
    color: steelblue;
    text-decoration: underline;
    cursor: pointer;
}
#msglog a:hover {
    color: dodgerblue;
    text-decoration: none;
}
#msglog a:focus {
    color: gainsboro;
}
.newdaymsg {
    border-top: .1em silver solid;
}
.editbuttons {
    text-align: right;
    margin-right: 3em;
}
.hovering {
    margin-top: 25em;
    max-height: 12.5em;
    height: 12.5em;
    max-width: 39em;
    width: 39em;
    overflow: hidden;
}
.hovering > div {
    height: 8em;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    width: 39em;
}
.hovering > h2 {
    margin-bottom: 0;
    margin-top: 0;
}
.hovering > p {
    margin-top: 0;
    margin-bottom: 0;
}
#textpreviewarea {
    height: 8em;
}
.notifyswitch {
    white-space: nowrap;
}

