body {
    margin-bottom: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border: none;
    margin: 2.75em auto 0 auto;
    background: none;
}
table > tr > td > div, table textarea {
    display: inline-block;
    overflow: auto;
    margin: 2.75em auto 0 auto;
}
#msglog, #buttonlist, #userlist, table > tr > td > div, table textarea, #userlist img {
    border: .1em gray solid;
}
#msglog, #textinput {
    width: 44em;
    min-width: 44em;
    max-width: 44em;
    font-size: 1em;
    font-family: sans-serif;
}
#userlist, #buttonlist {
    width: 13em;
}
#textinput {
    height: 5em;
    min-height: 5em;
}
#userlist, #msglog {
    height: 30em;
}
#msglog {
    background: whitesmoke;
    color: navy;
    overflow: scroll;
}
#userlist, #textinput, #msglog {
    padding: .25em;
    margin: .25em;
}
#buttonlist {
    margin: 0 .25em;
    padding: .25em;
    overflow: visible;
    text-align: center;
    border: .1em gray solid;
    color: black;
    background: lightgray;
}
#textinput:hover {
    border-color: dodgerblue;
}
#textinput:focus {
    border-color: blue;
}
#userlist .timestamp {
    color: gray;
    font-size: .75em;
}
#userlist .username {
    white-space: nowrap;
}
#userlist {
    background: gainsboro;
}
#userlist img {
    height: 2em;
    max-width: 3em;
    margin-right: .25em;
    float: right;
}
#userlist p {
    clear: both;
    border-bottom: .1em silver dashed;
    margin: .25em .5em;
    padding-bottom: .5em;
}
#msglog .ownmsg {
    color: black;
}
#msglog .username {
    color: black;
}
#msglog .timestamp {
    font-size: 0.75em;
    color: gray;
}
#msglog p {
    text-indent: -5em;
    margin-left: 5em;
}
.myself {
    color: red;
    font-weight: bold;
}
#msglog pre {
    font-family: monospace;
    font-size: 1em;
    color: chocolate;
}
#msglog a {
    color: steelblue;
    text-decoration: underline;
    cursor: pointer;
}
#msglog a:hover {
    color: dodgerblue;
    text-decoration: none;
}
#msglog a:focus {
    color: gainsboro;
}
.editbuttons {
    text-align: right;
    margin-right: 3em;
}
#textpreviewarea {
    height: 8em;
}
.notifyswitch {
    white-space: nowrap;
}
.chatmsgbox, .chatmsgprefix, .chatmsgprefixinner, .chatmsgcontent, .newdaymsg {
    border: none;
}
.usernameline {
    background: gainsboro;
    width: 41em;
    padding-left: 1em;
    margin-top: .5em;
}
#msglog .usernameline .username .chatusernamelink {
    color: navy;
}
.chatmsgbox {
    clear: both;
}
.chatmsgprefix {
    float: left;
}
.sameuser .chatmsgprefix {
    text-align: right;
    width: 4em;
    margin-right: .5em;
}
.sameuser .chatmsgcontent {
    width: 36em;
    margin-left: 5em;
    display: inline-box;
}
.newdaymsg {
    border-top: .1em silver dashed;
    width: 41em;
    color: dimgray;
    text-align: center;
    margin:.5em;
}
.chatoptionpopup {
    border: none;
}
span.chatoptionpopupswitch {
    color: black;
}
.chatoptionpopup .popup {
    margin-left: -7em;
}
input#refreshtime {
    width: 4em;
}
#buttonlist table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}
#buttonlist td {
    width: 5em;
    padding: .15em .3em;
    border: none;
    vertical-align: top;
}
#buttonlist td button {
    width: 100%;
}
