* {
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    color: black;
    background: gainsboro url('img/chg.png') no-repeat fixed top left;
    overflow: hidden;
    width: 65em;
    height: 30em;
    margin: 0 auto;
    padding: .5em;
}
body > * {
    background: transparent;
}
table {
    border-collapse: collapse;
    border: none;
    margin: 0 auto;
}
div, textarea {
    border: .1em gray solid;
    display: inline-block;
    overflow: auto;
}
#msglog, #textinput {
    width: 44em;
    min-width: 44em;
    max-width: 44em;
    font-size: 1em;
    font-family: sans-serif;
}
#userlist, #buttonlist {
    width: 11em;
}
#textinput {
    height: 5em;
    min-height: 5em;
}
#userlist, #msglog {
    height: 30em;
}
#msglog {
    background: whitesmoke;
    color: navy;
}
#userlist, #textinput, #msglog {
    padding: .25em;
    margin: .25em;
}
#buttonlist {
    max-height: 60em;
    margin: 0 .25em;
    padding: .25em;
    overflow: visible;
    text-align: center;
    border: .1em gray solid;
    color: black;
    background: lightgray;
    padding-top: .5em;
}
#textinput:hover {
    border-color: dodgerblue;
}
#textinput:focus {
    border-color: blue;
}
#userlist .timestamp {
    color: gray;
    font-size: .75em;
}
#userlist .username {
    white-space: nowrap;
}
#userlist {
    background: gainsboro;
}
#userlist img {
    height: 2em;
    max-width: 3em;
    margin-right: .25em;
    float: right;
    border: .1em gray solid;
}
#userlist p {
    clear: both;
    border-bottom: .1em silver dashed;
    margin: .25em .5em;
    padding-bottom: .5em;
}
.titlebanner {
    background: inherit;
    font-size: 1.5em;
    padding: 0;
    text-align: center;
    border: none;
}
#msglog .ownmsg {
    color: black;
}
#msglog .username {
    color: black;
}
#msglog .timestamp {
    font-size: 0.75em;
    color: gray;
}
#msglog p {
    text-indent: -5em;
    padding-left: 5em;
}
.myself {
    color: red;
    font-weight: bold;
}
#msglog pre {
    font-family: monospace;
    font-size: 1em;
    color: chocolate;
}
#msglog a {
    color: steelblue;
    text-decoration: underline;
    cursor: pointer;
}
#msglog a:hover {
    color: dodgerblue;
    text-decoration: none;
}
#msglog a:focus {
    color: gainsboro;
}
.editbuttons {
    text-align: right;
    margin-right: 3em;
}
.hovering {
    margin-top: 25em;
    max-height: 12.5em;
    height: 12.5em;
    max-width: 39em;
    width: 39em;
    overflow: hidden;
}
.hovering > div {
    height: 8em;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    width: 39em;
}
.hovering > h2 {
    margin-bottom: 0;
    margin-top: 0;
}
.hovering > p {
    margin-top: 0;
    margin-bottom: 0;
}
#textpreviewarea {
    height: 8em;
}
.notifyswitch {
    white-space: nowrap;
}
.chatmsgbox, .chatmsgprefix, .chatmsgprefixinner, .chatmsgcontent, .newdaymsg {
    border: none;
}
.usernameline {
    background: gainsboro;
    width: 41.5em;
    padding-left: 1em;
    margin-top: .5em;
}
#msglog .usernameline .username .chatusernamelink {
    color: navy;
}
.sameuser .chatmsgprefix {
    text-align: right;
    width: 5em;
    margin-right: .5em;
}
.sameuser .chatmsgcontent {
    width: 37em;
}
.chatmsgbox div {
    vertical-align: text-top
}
.newdaymsg {
    border-top: .1em silver dashed;
    width: 41.5em;
    color: dimgray;
    text-align: center;
    margin:.5em;
}
.chatoptionpopup {
    border: none;
}
span.chatoptionpopupswitch {
    color: black;
}
.chatoptionpopup .popup {
    margin-left: -7em;
}
input#refreshtime {
    width: 4em;
}
#buttonlist table {
    width: 100%;
    border-collapse: collapse;
}
#buttonlist td {
    width: 5em;
    padding: .15em .3em;
    border: none;
}
#buttonlist td button {
    width: 100%;
}
#forumbutton {
    box-shadow: 0 0 .25em dimgrey;
    background-color: whitesmoke;
    overflow: visible;
}
#forumbutton {
    position: fixed;
    padding: .1em;
    margin: 0;
    border: .1em gray solid;
    top: 0;
    left: 0;
}
#forumbutton > p {
    margin: .25em;
}
#forumentries {
    white-space: nowrap;
}
#forumentries > p, .chatoptionpopup p {
    border-bottom: .1em silver dashed;
}


