* {
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    color: black;
    background: gainsboro;
    overflow: hidden;
    width: 50em;
    height: 30em;
    margin: 0 auto;
    padding: .5em auto;
}
table {
    border-collapse: collapse;
    border: none;
    margin: 0 auto;
}
div, textarea {
    border: .1em gray solid;
}
div, textarea {
    display: inline-block;
    overflow: auto;
}
#msglog, #msg {
    width: 30em;
    min-width: 30em;
    max-width: 30em;
    font-size: 1em;
    font-family: sans-serif;
}
#userlist, #buttonlist {
    width: 15em;
}
#msg {
    height: 5em;
    min-height: 5em;
}
#userlist, #msglog {
    height: 20em;
}
#msglog {
    background: whitesmoke;
    box-shadow: inset 0 0 .2em gray;
}
#userlist, #msg, #msglog {
    padding: .25em;
    margin: .25em;
}
#buttonlist {
    border-color: transparent;
    max-height: 60em;
    padding-left: 1.5em;
    overflow: visible;
}
#msg:hover {
    border-color: dimgray;
}
#msg:focus {
    border-color: black;
}
#userlist .timestamp {
    color: gray;
    margin-left: 1.5em;
}
#userlist .username {
    white-space: nowrap;
}
#userlist {
    background: gainsboro;
}
.titlebanner {
    background: inherit;
    font-size: 1.5em;
    padding: 0;
    text-align: center;
    border: none;
}
#msglog .username, .ownmsg, .timestamp {
    color: gray;
}
#msglog .username {
    font-weight: bold;
}
.ownmsg .username {
    color: silver;
}
.timestamp {
    font-size: 0.75em;
}
#msglog p {
    text-indent: -1.25em;
    padding-left: 1.25em;
}
#msglog .sameuser {
    text-indent: -0.75em;
}
#msglog .sameuser .timestamp {
    color: lightgray;
}
.myself {
    color: red;
    font-weight: bold;
}
#msglog pre {
    font-family: monospace;
    font-size: 1em;
    color: chocolate;
}
#msglog a {
    color: steelblue;
    text-decoration: underline;
    cursor: pointer;
}
#msglog a:hover {
    color: dodgerblue;
    text-decoration: none;
}
#msglog a:focus {
    color: gainsboro;
}
.newdaymsg {
    border-top: .1em silver solid;
}

