body {
    color: black;
    background: gainsboro;
    font-family: sans-serif;
}
body > *, .popup {
    background: white;
    border: .1em gray solid;
}
h1, h2 {
    border-bottom: .1em gainsboro solid;
}
.titlebanner {
    border-bottom-color: gray;
    background: inherit;
}
h1, h2, h3 {
    font-weight: bolder;
    text-decoration: none;
}
h2 {
    color: gray;
}
h3 {
    text-decoration: underline;
}
.loginform, .headbox, .popup {
    background: whitesmoke;
}
textarea {
    resize: vertical;
}
a > img {
    border: .1em steelblue solid;
}
a {
    color: steelblue;
    text-decoration: underline;
    border: none;
    background: none;
    cursor: pointer;
}
a:hover {
    color: dodgerblue;
    text-decoration: none;
}
a:hover > img {
    border-color: dodgerblue;
}
.active {
    background: steelblue;
    color: white;
    text-decoration: none;
}
.active:hover, a.active:hover {
    background: dodgerblue;
    color: white;
}
a:focus {
    color: gainsboro;
}
.active:focus, a.active:focus {
    color: gray;
    background: lightsteelblue;
}
.messagebox {
    border: none;
    background: transparent;
}
.messagebox > * {
    border: .1em silver solid;
}
.warning, .warning h1 {
    color: saddlebrown;
    border-color: chocolate;
    background: lemonchiffon;
}
.warning h1 {
    color: chocolate;
}
.info, .info h1 {
    color: darkgreen;
    border-color: forestgreen;
    background: palegreen;
}
.info h1 {
    color: forestgreen;
}
.error, .error h1 {
    color: darkred;
    border-color: firebrick;
    background: peachpuff;
}
.error h1 {
    color: firebrick;
}
a.coloroption:hover {
    border-color: dodgerblue;
}
.suboption {
    background: whitesmoke;
    border: .1em gainsboro solid;
}
.suboption h2 {
    color: black;
}
.postbox img {
    border: .1em gray solid;
}
.postbox .avatar {
    color: gainsboro;
    background: whitesmoke;
}
.pin {
    border-color: gold;
}
ul.topiclist {
    list-style: none;
}
.mark {
    color: palevioletred;
}
.newpost, .newpost .avatar {
    border-color: palevioletred;
}
h2.newpost, .newpost h1, .newpost .title, input.activesearch {
    background: lemonchiffon;
    border-color: palevioletred;
}
h2.newpinpost {
    background: lightyellow;
    border-color: orange;
}
.mark {
    font-weight: bolder;
}
input[type="text"].titlestring {
    font-weight: bolder;
}
.help {
    color: silver;
}
.alert {
    color: #c00;
    text-transform: uppercase;
    font-weight: bolder;
}
.linethrough {
    text-decoration: line-through;
}
.underline {
    text-decoration: underline;
}
.bold {
    font-weight: bolder;
}
.italic {
    font-style: italic;
}
.quote, .postbox blockquote {
    color: dimgrey;
}
.emotion {
    color: dimgrey;
    font-variant: small-caps;
}
.emotion:before { content:"*" }
.emotion:after  { content:"*" }
.menu, .messagebox > div, .shadowed {
    box-shadow: 0 0 .25em dimgrey;
}
.popup {
    box-shadow: 0 0 .25em dimgrey;
}
.postbox blockquote {
    border-left: .1em gainsboro solid;
}
img.smiley, img.icon {
    border: none;
}
pre, .code {
    font-family: monospace;
    color: chocolate;
}
.postbox pre {
    border-left: .1em palegoldenrod solid;
}
.functionlinks {
    font-weight: normal;
}
.pagestretch {
    color: transparent;
    border: none;
    background: none;
}
.pages, .menu {
    background: #f0f0f0;
}
.buttonalike, .buttonalike:active, .buttonalike:focus {
    color: black;
    background: gainsboro;
    border: none;
    min-width: 1.5em;
    padding: 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
.buttonalike:hover {
    background: white;
    color: black;
}
.nodisplay {
    display: none;
}
.blockdisplay {
    display: block;
}
.textright {
    text-align: right;
}
.ignored {
    border-color: white;
}

