body {
    color: black;
    background: gainsboro;
    font-family: sans-serif;
}
body > *, .popup, .hovering, .backgrounded {
    background: white;
    border: .1em gray solid;
}
h1, h2 {
    border-bottom: .1em gainsboro solid;
}
.titlebanner {
    border-bottom-color: gray;
    background: inherit;
}
h1, h2, h3 {
    font-weight: bolder;
    text-decoration: none;
}
h2 {
    color: gray;
}
.topiclist h2:hover, .userlist div:hover, .loginform, .headbox, .popup {
    background: whitesmoke;
}
h3 {
    text-decoration: underline;
}
button, #editbuttons .buttonalike, .chatoptionspopupswitch {
    color: black;
    background: lavender;
}
#textinput, input, select {
    color: black;
    background: white;
}
#textinput, input, button, select, #editbuttons .buttonalike, .chatoptionspopupswitch {
    border: .1em steelblue solid;
}
#textinput:hover, input:hover, button:hover, select:hover, #editbuttons .buttonalike:hover, .chatoptionspopupswitch:hover {
    border-color: dodgerblue;
}
#textinput:focus, input:focus, button:focus, select:focus, #editbuttons .buttonalike:focus, .chatoptionspopupswitch:focus {
    border-color: blue;
}
button:hover, #editbuttons .buttonalike:hover, .chatoptionspopupswitch:hover {
    background: ghostwhite;
}
#textinput {
    resize: vertical;
    padding: .1em;
}
a > img {
    border: .1em royalblue solid;
}
a, .othersmenulinktext {
    color: royalblue;
    border: none;
    background: none;
}
a {
    text-decoration: underline;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    background: whitesmoke;
}
.active {
    background: royalblue;
    color: white;
    text-decoration: none;
}
.active:hover, a.active:hover {
    background: dodgerblue;
    color: white;
}
a:focus {
    color: midnightblue;
}
.menu a:hover, .popup a:hover, .topiclist a:hover, .pages a:hover, .headbox a:hover, .backgrounded {
    background: gainsboro;
}
.active:focus, a.active:focus {
    color: gray;
    background: lightsteelblue;
}
.messagebox {
    border: none;
    background: transparent;
}
.messagebox > * {
    border: .1em silver solid;
}
.warning, .warning h1 {
    color: saddlebrown;
    border-color: chocolate;
    background: lemonchiffon;
}
.warning h1 {
    color: chocolate;
}
.info, .info h1 {
    color: darkgreen;
    border-color: forestgreen;
    background: palegreen;
}
.info h1 {
    color: forestgreen;
}
.error, .error h1 {
    color: darkred;
    border-color: firebrick;
    background: peachpuff;
}
.error h1 {
    color: firebrick;
}
a.coloroption:hover {
    border-color: dodgerblue;
}
.suboption {
    background: whitesmoke;
    border: .1em gainsboro solid;
}
.suboption h2 {
    color: black;
}
.postbox img {
    border: .1em gray solid;
}
.postbox .avatar {
    color: gainsboro;
    background: whitesmoke;
}
.forumoptionpopup .pin, .menu .pin {
    background-color: lightgoldenrodyellow;
}
ul.topiclist {
    list-style: none;
}
.mark {
    color: palevioletred;
}
.forumoptionpopup .newpost, h2.newpost, .newpost h1, .newpost .title, input.activesearch {
    background: lemonchiffon;
}
.topiclist .newpost, .newpost h1, .newpost .title, input.activesearch, .newpost .avatar {
    border-color: khaki;
    border-style: solid;
}
h2.newpinpost {
    background: lightyellow;
}
.mark {
    font-weight: bolder;
}
input[type="text"].titlestring {
    font-weight: bolder;
}
.help {
    color: silver;
}
.alert {
    color: #c00;
    text-transform: uppercase;
    font-weight: bolder;
}
.linethrough {
    text-decoration: line-through;
}
.underline {
    text-decoration: underline;
}
.bold {
    font-weight: bolder;
}
.italic {
    font-style: italic;
}
q:before, .quote:before { content: "„"}
q:after,  .quote:after  { content: "“"}
em:before { content: "*"}
em:after  { content: "*"}
em, .emotion {
    color: darkgrey;
    font-variant: small-caps;
    font-style: normal;
    font-weight: bold;
}
blockquote {
    border-left: .5em gainsboro solid;
}
img.smiley, img.icon {
    border: none;
}
pre, .code, code {
    font-family: monospace;
    color: chocolate;
}
pre {
    border-left: .5em palegoldenrod solid;
    overflow: auto;
}
.functionlinks {
    font-weight: normal;
}
.pages, .menu{
    background: #f0f0f0;
}
#chatuserlist, #forumbutton {
    background: whitesmoke;
}
.buttonalike, .buttonalike:active, .buttonalike:focus {
    color: black;
    background: gainsboro;
    border: none;
    min-width: 1.5em;
    padding: 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
.buttonalike:hover {
    background: white;
    color: black;
}
.nodisplay {
    display: none;
}
.hiddendisplay {
    visibility: hidden;
}
.blockdisplay {
    display: block;
}
.textright {
    text-align: right;
}
.ignored {
    background: whitesmoke;
}
.forumoptionpopup .ignored, .menu .ignored {
    background: gainsboro;
}
.score {
    color: black;
}
.goodpost {
    background: #ccffcc;
}
.badpost {
    background: #ffcccc;
}
.postbox ul {
    list-style-type: disc;
}
.invisible {
    border-color: transparent;
    background-color: transparent;
}
.postbox > ol {
    list-style-type: decimal;
}
.hovering {
    background: white;
}
.hovering > p {
    border-top: .1em gainsboro solid;
}
.userlist table {
    border-bottom: .1em gainsboro solid;
    border-collapse: collapse;
}
.userlist table pre {
    color: black;
    font-family: sans-serif;
    border: none;
    padding: 0;
    font-size: 1em;
}
.userlist td, .userlist th {
    padding: .5em;
    vertical-align: top;
}
.userlist td {
    text-align: left;
}
.userlist th {
    font-weight: normal;
    color: dimgray;
}
div.ownpost {
    color: #333333;
}
.dim {
    color: gray;
}
.activedim:hover {
    background: gainsboro;
}
.postbox .activedim:hover {
    background: whitesmoke;
}
.activemenuentry:hover {
    background: none;
}
input[type="text"], input[type="password"], input[type="number"],
input[type="date"], input[type="color"], textarea {
    cursor: text;
}
.topiclist .menuentry:hover {
    background: gainsboro;
}
.menu {
    cursor: default;
}
h2.pin {
    border-color: gold;
}
hr {
    border: none;
    border-bottom: .1em gainsboro solid;
    height: 0;
}
.topiclist .addinfos {
    color: black;
    font-weight: normal;
    font-size: 1em;
}
.topiclist .smallfont, .bottomfunctionlinks {
    font-size: .75em;
}
.topiclist .smallfont u {
    text-decoration: line-through underline;
}
.headbox h1 {
    border-bottom: none;
}
.popuparrow > span {
    color: lightsteelblue;
}
.menubarseparator {
    font-weight: bolder;
    color: gainsboro;
}
.bottomfunctionlinks {
    clear: both;
    text-align: right;
    border-top: .1em gainsboro solid;
}
.summarypopup {
    background: white;
}
.newpost .postboxinner {
    border: 0 khaki solid;
}
.topicpopup > p, .userspopup > p, .optionspopup > p, #forumentries > p, .chatoptionpopup p, #chatuserlist p {
    border-bottom: 0 silver dashed;
}
.backgrounded {
    background: lightgray;
    border: 0 gray solid;
}
