* {
    margin: 0;
    padding: 0;
}
body > * {
    padding: 0 1em 1em 1em;
    margin-top: 3px;
}
body > * > * {
    margin: .75em 0;
}
h1, h2, h3 {
    font-size: 1em;
}
h1 {
    font-size: 1.25em;
}
img {
    max-width: 13em;
    max-height: 8em;
}
a, .linkalike {
    display: inline;
}
.messagebox > * {
    padding: .25em;
}
.messagebox {
    padding: 1em 0 0 0;
    width: 22em;
    position: fixed;
    bottom: 0;
    right: 0;
}
.messagebox > * {
    width: 20em;
    margin: .25em .25em .25em auto;
}
.messagebox:hover > * {
    margin-right: -19.5em;
}
.messagebox:hover > *:hover {
    margin-right: .25em;
}
.pages {
    padding: .25em;
}
.menu {
    margin: 0;
    text-align: center;
    padding: .1em 0;
    border-top-width: 0;
}
input[type="color"], input[type="url"], input[type="email"], input[type="text"], input[type="password"] {
    width: 16em;
}
.menu input[type="text"] {
    width: 5em;
}
.smallfont, .userlist p, h2, .attachementtitle, .menu, .pages, .insertformbuttons, .headbox .userinfo {
    font-size: .75em;
}

.messagebox {
    font-size: 1.25em;
}
.messagebox h1 {
    font-size: 1em;
}
.smallfont {
    font-weight: normal;
}
.menuentry {
    display: inline;
}
.menu > * {
    padding: 0 .5em;
}
form {
    display: inline;
}
.options form > * {
    margin: 0.5em 0;
}
.suboption {
    margin-left: .75em;
}
.postbox textarea {
    min-width: 100%;
    max-width: 100%;
    max-height: 54em;
    min-height: 2em;
    height: 2em;
}
.postbox textarea:focus, .postbox textarea.inedit {
    height: 24em;
}
.postbox img {
    max-width: 256px;
    max-height: 128px;
}
.postbox .avatar {
    margin: -0.25em 0 .5em 1em;
    float: right;
    font-size: 1em;
    max-width: 7.5em;
    min-width: 2.5em;
    height: 5em;
    overflow: hidden;
    text-align: center;
}
img.smiley, img.icon {
    width: 1em;
    height: 1em;
}
ol.attachements li img {
    vertical-align: top;
    margin-bottom: 0.5em;
}
li {
    margin-left: 2em;
}
.userlist .avatar {
    height: 2.75em;
    margin-top: .05em;
}
.userlist h2, .topiclist h2 {
    font-size: 1em;
    clear: both;
}
.topiclist h2 .smallfont {
    float: right;
}
.popup {
    display: none;
    position: absolute;
    text-align: left;
    margin-top: auto;
    padding: .25em .5em;
}
.popup > * {
    padding: .25em;
}
.postbox pre {
    padding-left: .75em;
}
.menuentry { 
    display: inline-block; 
    margin: 0;
    padding-top: 1px;
}
.refreshlink {
    float: left;
}
.logoutbutton {
    float: right;
}
.postbox {
    clear: both;
}
.postbox textarea, input[type="text"].titlestring {
    width: 100%;
}
body {
    max-width: 48em;
    margin: 0 auto 5px auto;
    padding: 0 .5em;
}
input[type="text"].titlestring {
    font-size: 1.25em;
}
.postbox pre, .suboption h2 {
    font-size: 1em;
}
.menuentry:hover .popup {
    display: block;
}

