* {
    margin: 0;
    padding: 0;
}
body {
    background: gainsboro url('img/hg.png') no-repeat fixed bottom right;
    text-align: left;
    width: 100%;
    margin: 0 0 5em 0;
}
body > *, .hovering {
    padding: 0 1em 1em 1em;
    max-width: 48em;
    margin: .5em auto 0 auto;
}
body > * > *, body > * > .postboxinner > *, .hovering > .postbox > *, blockquote > p {
    margin: .75em 0;
}
h1 {
    font-size: 1.25em;
}
.postbox h1, h2, h3 {
    font-size: 1em;
}
img {
    max-width: 13em;
    max-height: 8em;
}
a {
    display: inline;
}
.messagebox {
    position: fixed;
    bottom: 0;
    right: 4em;
}
.messagebox > * {
    padding: .5em;
    text-align: right;
}
.menu {
    text-align: center;
    padding: .1em 0;
    position: fixed;
    top: 0;
    margin-top: 0;
    width: 100%;
    max-width: none;
    border-width: 0 0 .1em 0;
}
input[type="color"], input[type="url"], input[type="email"], input[type="text"], input[type="password"], textarea.infos {
    width: 16em;
}
.menu input[type="text"] {
    width: 5em;
}
.messagebox {
    font-size: 1.25em;
}
.messagebox h1 {
    font-size: 1em;
}
.smallfont {
    font-weight: normal;
}
form {
    display: inline;
}
.options form > * {
    margin: 0.5em 0;
}
.suboption {
    margin-left: .75em;
}
.postbox #textinput {
    max-height: 54em;
    min-height: 2em;
    height: 2em;
}
.postbox #textinput:focus, .postbox #textinput.inedit {
    height: 24em;
}
.postbox img {
    max-width: 16em;
    max-height: 12em;
}
.postbox .avatar {
    margin: -0.25em 0 .5em 1em;
    float: right;
    font-size: 1em;
    max-width: 6em;
    min-width: 2em;
    height: 4em;
    overflow: hidden;
    text-align: center;
}
.postbox ul {
    margin-left: 2em;
}
ul.attachements {
    clear: both;
    border-top: .1em gainsboro dashed;
    list-style: none;
    margin-left: 0;
}
ul.attachements li {
    padding-top: .5em;
    padding-left: 3em;
}
.userlist .avatar {
    height: 3em;
    margin-top: .05em;
}
img.smiley, img.icon {
    height: 1em;
}
.userlist h2, .topiclist h2 {
    font-size: 1em;
    clear: both;
}
.topiclist {
    text-align: right;
}
.topiclist .menuentry {
    float: left;
}
.popup {
    display: none;
    position: absolute;
    text-align: left;
    margin-top: auto;
    padding: .5em .5em;
}
.popup > * {
    padding: .25em;
}
.postbox pre, .postbox blockquote {
    padding-left: .75em;
}
.menuentry { 
    display: inline-block; 
    margin: 0;
    padding-top: .1em;
}
h1, .postbox {
    clear: both;
}
.postbox #textinput, input[type="text"].titlestring {
    width: 100%;
}
input[type="text"].titlestring {
    font-size: 1.25em;
}
.postbox pre, .suboption h2 {
    font-size: 1em;
}
.menuentry:hover .popup {
    display: block;
}
.pages {
    padding-top: .1em;
    padding-bottom: .1em;
}
.titlebanner {
    font-size: 2em;
    padding: 0;
    text-align: center;
    border: none;
    margin-top: 1.25em;
}
.userlist .smallfont {
    display: block;
    margin-top: .75em;
}
.topiclist .smallfont {
    margin-left: 2em;
}
#closetextap {
    margin-top: .25em;
}
.pagestretch {
    display: none;
}
.othersmenulinktext {
    cursor: default;
}
#subtabuttonp {
    padding-top: .5em;
}
#uploadinputsbox {
    text-align: left;
    padding-bottom: .5em;
}
.hovering {
    position: absolute; margin-top: 0;
    width: 46em;
    min-width: 46em;
    max-width: 46em;
}
.hovering > h2 {
    padding-top: 1em;
}
.hovering > div {
    margin-bottom: .25em;
    margin-top: 1em;
    overflow: auto;
}
#textpreviewarea {
    height: 17em;
}
.graydisplay *:hover, .graydisplay * {
    background: transparent;
    border-color: gainsboro;
    color: gainsboro;
    cursor: default;
}
.noboxshadow *:hover, .noboxshadow * {
    box-shadow: none;
}
.hovering > p {
    padding-top: .5em;
    padding-bottom: .5em;
}
.infooptions #textinput, .infooptions #textinput:focus {
    height: 10em;
    width: 30em;
}
#textinput:focus, input:focus, select:focus {
    box-shadow: 0 0 .5em gray;
}
.infooptions th {
    text-align: right;
    vertical-align: top;
}
.userlist table {
    width: 100%;
}
.userlist h2 {
    margin-bottom: 0;
}
.userlist th {
    width: 5em;
}
.userlist .userinfobox {
    width: 50%;
}
.userlist td, .userlist th {
    vertical-align: top;
}
.userlist table, .userlist td, .userlist th {
    margin-top: 0;
}
.postbox .smallfont, h1 .smallfont, .postbox .functionlinks {
    white-space: nowrap;
}
textarea, input, select {
    box-shadow: inset 0 .1em .25em silver;
}
button, #editbuttons .buttonalike {
    box-shadow: inset 0 -0.25em .5em silver;
}
button:hover, button:active, #editbuttons .buttonalike:hover, #editbuttons .buttonalike:active {
    background: whitesmoke;
}
button:active, #editbuttons .buttonalike:active {
    box-shadow: inset 0 .1em .25em silver;
}
#editbuttons .buttonalike {
    margin-left: .1em;
}
.menu, .shadowed, #chatbutton {
    box-shadow: 0 0 .25em dimgrey;
}
.popup, .messagebox > div {
    box-shadow: 0 .1em .25em dimgrey;
}
.textpreviewarea {
    box-shadow: none;
}
.hovering {
    box-shadow: 0 0 1em dimgrey;
}
.topiclistpopup {
   margin-top: -1em;
   margin-left: 2em;
}
.summarypopup {
    max-width: 36em;
    margin-top: 0;
    margin-left: 10em;
    white-space: normal;
    overflow: auto; 
    font-weight: normal;
    color: black;
}
.postbox hr, #textpreviewarea hr {
    width: 32em;
    margin: 2em auto;
}
.topiclist h2 {
    margin-bottom: 1em;
}
.topiclist {
    padding-bottom: 0;
}
.topiclist > h2 {
    border-bottom-width: .2em;
}
.userlisth1, .topiclisth1, .loginformh1 {
    margin-bottom: 0;
}
.topiclisth1 .smallfont {
    font-size: .75em;
}
.topiclistbox p {
    margin: 0;
}
.topiclist .newpost, .newpost .postboxinner {
    padding-left: 1em;
}
.topiclist .newpost {
    border-width: 0 0 .1em .5em;
}
.newpost .postboxinner {
    border-width: 0 0 0 .5em;
}
.newpost .postboxinner h2 {
    border: none;
}
.popuparrow, .popuparrow > span {
    margin-left: 0;
    padding-left: 0;
}
.menulinkwleftpu *, .menulinkwleftpu {
    margin-right: 0;
    padding-right: 0;
}
.menubarseparator {
    padding: 0;
    margin: 0 .5em;
}
.headbox, .postboxform {
    margin-top: 3em;
}
.menu .popup {
    margin-left: -2.5em;
}
.optionspopup {
    margin-right: 1em;
    margin-left: none;
}
.postbox {
    padding-bottom: 0;
}
.headbox, .postboxform, .loginform {
    padding-bottom: 1em;
}
#chatbutton {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: .25em .75em .25em .5em;
}
#chatbutton p {
    margin: .25em;
}

