* {
    margin: 0;
    padding: 0;
}
body {
    text-align: left;
    width: 100%;
    margin: 0 0 2em 0;
}
body > * {
    padding: 0 1em 1em 1em;
    max-width: 48em;
    margin: .25em auto 0 auto;
}
body > * > * {
    margin: .75em 0;
}
h1 {
    font-size: 1.25em;
}
h2, h3 {
    font-size: 1em;
}
img {
    max-width: 13em;
    max-height: 8em;
}
a {
    display: inline;
}
.messagebox {
    padding: 1em 0 0 0;
    width: 22em;
    position: fixed;
    bottom: 0;
    right: 0;
}
.messagebox > * {
    padding: .25em;
    width: 20em;
    margin: .25em .25em .25em auto;
}
.messagebox:hover > * {
    margin-right: -19.5em;
}
.messagebox:hover > *:hover {
    margin-right: .25em;
}
.menu {
    text-align: center;
    padding: .1em 0;
    position: fixed;
    top: 0;
    margin-top: 0;
    width: 100%;
    max-width: none;
    border-width: 0 0 .1em 0;
}
input[type="color"], input[type="url"], input[type="email"], input[type="text"], input[type="password"] {
    width: 16em;
}
.menu input[type="text"] {
    width: 5em;
}
.helptext .buttonalike, .smallfont, .userlist p, h2, .attachementtitle, .menu, .insertformbuttons, .headbox .userinfo, .pages > * {
    font-size: .75em;
}

.messagebox {
    font-size: 1.25em;
}
.messagebox h1 {
    font-size: 1em;
}
.smallfont {
    font-weight: normal;
}
.menu > * {
    padding: 0 .25em;
}
form {
    display: inline;
}
.options form > * {
    margin: 0.5em 0;
}
.suboption {
    margin-left: .75em;
}
.postbox textarea {
    max-height: 54em;
    min-height: 2em;
    height: 2em;
}
.postbox textarea:focus, .postbox textarea.inedit {
    height: 24em;
}
.postbox img {
    max-width: 16em;
    max-height: 12em;
}
.postbox .avatar {
    margin: -0.25em 0 .5em 1em;
    float: right;
    font-size: 1em;
    max-width: 7.5em;
    min-width: 2.5em;
    height: 5em;
    overflow: hidden;
    text-align: center;
}
ol.attachements li img {
    vertical-align: top;
    margin-bottom: 0.5em;
}
li {
    margin-left: 2em;
}
.userlist .avatar {
    height: 2.75em;
    margin-top: .05em;
}
img.smiley, img.icon {
    width: 1em;
    height: 1em;
}
.userlist h2, .topiclist h2 {
    font-size: 1em;
    clear: both;
}
.topiclist .smallfont {
    float: right;
}
.popup {
    display: none;
    position: absolute;
    text-align: left;
    margin-top: auto;
    padding: .25em .5em;
}
.popup > * {
    padding: .25em;
}
.postbox pre, .postbox blockquote {
    padding-left: .75em;
}
.menuentry { 
    display: inline-block; 
    margin: 0;
    padding-top: .1em;
}
h1, .postbox {
    clear: both;
}
.postbox textarea, input[type="text"].titlestring {
    width: 100%;
}
input[type="text"].titlestring {
    font-size: 1.25em;
}
.postbox pre, .suboption h2 {
    font-size: 1em;
}
.menuentry:hover .popup {
    display: block;
}
.pages {
    padding-top: .1em;
    padding-bottom: .1em;
}
.refreshlink {
    margin-right: 1.5em;
    margin-left: 0;
}
.logoutbutton2 {
    margin-left: 1.5em;
    margin-right: 0;
}
.titlebanner {
    font-size: 2em;
    padding: 0;
    text-align: center;
    border: none;
    margin-top: 1.25em;
}
.userlist .smallfont {
    display: block;
    margin-top: .75em;
}
.topiclist p.smallfont {
    margin-left: 2em;
}
/* Editbuttons */
.buttonalike, .buttonalike:active, .buttonalike:focus {
    margin-bottom: .25em;
}
#closetextap {
    margin-top: .25em;
}
.pagestretch {
    display: none;
}
