* {
    margin: 0;
    padding: 0;
}
body {
    text-align: left;
    width: 100%;
    margin: 0 0 5em 0;
}
body > *, .hovering {
    padding: 0 1em 1em 1em;
    max-width: 48em;
    margin: .25em auto 0 auto;
}
body > * > *, .hovering > .postbox > *, blockquote > p {
    margin: .75em 0;
}
h1 {
    font-size: 1.25em;
}
.postbox h1, h2, h3 {
    font-size: 1em;
}
img {
    max-width: 13em;
    max-height: 8em;
}
a {
    display: inline;
}
.messagebox {
    padding: 1em 0 0 0;
    width: 22em;
    position: fixed;
    bottom: 0;
    right: 0;
}
.messagebox > * {
    padding: .25em;
    width: 20em;
    margin: .25em .25em .25em auto;
}
.messagebox:hover > * {
    margin-right: -19.5em;
}
.messagebox:hover > *:hover {
    margin-right: .25em;
}
.menu {
    text-align: center;
    padding: .1em 0;
    position: fixed;
    top: 0;
    margin-top: 0;
    width: 100%;
    max-width: none;
    border-width: 0 0 .1em 0;
}
input[type="color"], input[type="url"], input[type="email"], input[type="text"], input[type="password"], textarea.infos {
    width: 16em;
}
.menu input[type="text"] {
    width: 5em;
}
.messagebox {
    font-size: 1.25em;
}
.messagebox h1 {
    font-size: 1em;
}
.smallfont {
    font-weight: normal;
}
.menu > * {
    padding: 0 .25em;
}
form {
    display: inline;
}
.options form > * {
    margin: 0.5em 0;
}
.suboption {
    margin-left: .75em;
}
.postbox #textinput {
    max-height: 54em;
    min-height: 2em;
    height: 2em;
}
.postbox #textinput:focus, .postbox #textinput.inedit {
    height: 24em;
}
.postbox img {
    max-width: 16em;
    max-height: 12em;
}
.postbox .avatar {
    margin: -0.25em 0 .5em 1em;
    float: right;
    font-size: 1em;
    max-width: 6em;
    min-width: 2em;
    height: 4em;
    overflow: hidden;
    text-align: center;
}
ol.attachements li img {
    vertical-align: top;
    margin-bottom: 0.5em;
}
li {
    margin-left: 2em;
}
.userlist .avatar {
    height: 3em;
    margin-top: .05em;
}
img.smiley, img.icon {
    height: 1em;
}
.userlist h2, .topiclist h2 {
    font-size: 1em;
    clear: both;
}
.topiclist .smallfont {
    float: right;
}
.popup {
    display: none;
    position: absolute;
    text-align: left;
    margin-top: auto;
    padding: .25em .5em;
}
.popup > * {
    padding: .25em;
}
.postbox pre, .postbox blockquote {
    padding-left: .75em;
}
.menuentry { 
    display: inline-block; 
    margin: 0;
    padding-top: .1em;
}
h1, .postbox {
    clear: both;
}
.postbox #textinput, input[type="text"].titlestring {
    width: 100%;
}
input[type="text"].titlestring {
    font-size: 1.25em;
}
.postbox pre, .suboption h2 {
    font-size: 1em;
}
.menuentry:hover .popup {
    display: block;
}
.pages {
    padding-top: .1em;
    padding-bottom: .1em;
}
.refreshlink {
    margin-right: 1.5em;
    margin-left: 0;
}
.titlebanner {
    font-size: 2em;
    padding: 0;
    text-align: center;
    border: none;
    margin-top: 1.25em;
}
.userlist .smallfont {
    display: block;
    margin-top: .75em;
}
.topiclist p.smallfont {
    margin-left: 2em;
}
/* Editbuttons */
#editbuttons .buttonalike {
    margin-bottom: .25em;
    box-shadow: 0 0 .1em dimgray;
    border-radius: 0;
}
#editbuttons .buttonalike:hover {
    background: whitesmoke;
    box-shadow: 0 0 .25em dimgray;
    border-color: dimgray;
}
#editbuttons .buttonalike:active, #editbuttons .buttonalike:focus, .suboption {
    border-radius: .2em;
}
#editbuttons .buttonalike:active, #editbuttons .buttonalike:focus {
    box-shadow: inset 0 0 .1em dimgray;
    background: silver;
    border-color: black;
}
#closetextap {
    margin-top: .25em;
}
.pagestretch {
    display: none;
}
.othersmenulinktext {
    cursor: default;
}
.headbox .subtabuttonp {
    padding-top: .5em;
}
.hovering {
    position: absolute;
    margin-top: 0;
    width: 46em;
    min-width: 46em;
    max-width: 46em;
}
.hovering > h2 {
    padding-top: 1em;
}
.hovering > div {
    margin-bottom: .25em;
    margin-top: 1em;
    height: 18em;
    overflow: auto;
}
.hovering > p {
    padding-top: .5em;
    padding-bottom: .5em;
}
.infooptions #textinput, .infooptions #textinput:focus {
    height: 10em;
    width: 30em;
}
#textinput:focus, input:focus, select:focus {
    box-shadow: 0 0 .5em gray;
}
.infooptions th {
    text-align: right;
    vertical-align: top;
}
.userlist table {
    width: 100%;
}
.userlist h2 {
    margin-bottom: 0;
}
.userlist th {
    width: 5em;
}
.userlist .userinfobox {
    width: 50%;
}
.userlist td, .userlist th {
    vertical-align: top;
}
.userlist table, .userlist td, .userlist th {
    margin-top: 0;
}
.postbox .smallfont, h1 .smallfont, .postbox .functionlinks {
    white-space: nowrap;
}
textarea, input, select {
    box-shadow: inset 0 .1em .25em silver;
}
button, textarea, input, select, .popup, .menuentry, .active, a, #textpreviewbox {
    border-radius: .25em;
}
.postbox, .headbox, .pages, .avatar, #msglog, #userlist, .optionsavatar, .messagebox > div {
    border-radius: .5em;
}
button {
    box-shadow: inset 0 -0.25em .5em silver;
}
button:hover, button:active {
    background: whitesmoke;
}
button:active {
    box-shadow: inset 0 .1em .25em silver;
}
.menu, .shadowed {
    box-shadow: 0 0 .25em dimgrey;
}
.popup, .messagebox > div {
    box-shadow: 0 .1em .25em dimgrey;
}
.textpreviewarea {
    box-shadow: none;
}
.hovering {
    box-shadow: 0 0 1em dimgrey;
}
.topiclistpopup {
   margin-top: -1em;
   margin-left: 2em;
}
.summarypopup {
    max-width: 38em;
    margin-top: -0.5em;
    margin-left: 12em;
    white-space: normal;
    overflow: auto; 
    font-weight: normal;
    color: black;
}

