* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto .5em auto;
    padding: 0 .5em;
    font-family: sans-serif;
    color: black;
    background: url('img/hg.png') no-repeat top center fixed gainsboro;
    max-width: 46em;
}
body > * {
    padding: 0 1em 1em 1em;
    margin-top: .5em;
    background: white;
    border: 1px gray solid;    
}
body > * > * {
    margin: .75em 0;
}
h1, h2, h3 {
    font-weight: bolder;
    text-decoration: none;
    font-size: 1em;
}
h1, h2 {
    border-bottom: 1px gainsboro solid;
}
h1 {
    font-size: 1.25em;
}
h2 {
    color: gray;
}
h3 {
    text-decoration: underline;
}
.loginform, .menu, .pages, .headbox {
    background: whitesmoke;
}
img {
    max-width: 13em;
    max-height: 8em;
}
input, textarea, select {
    font-size: 1em;
    border: 1px silver solid;
    background: white;
    color: #006;
}
input[type="color"], input[type="url"], input[type="email"], input[type="text"], input[type="password"] {
    width: 16em;
}
input:hover, textarea:hover, select:hover {
    border-color: steelblue;
}
input:focus, textarea:focus, select:focus {
    border-color: dodgerblue;
}
a, .linkalike {
    color: steelblue;
    text-decoration: underline;
    display: inline;
    border: none;
    background: none;
    font-size: 1em;
    font-family: sans-serif;
}
a > img {
    border: 1px steelblue solid;
}
a:hover, .linkalike:hover {
    color: dodgerblue;
    text-decoration: none;
    cursor: pointer;
}
a:hover > img {
    border-color: dodgerblue;
}
.active {
    background: steelblue;
    color: white;
    text-decoration: none;
}
.active:hover, a.active:hover {
    background: dodgerblue;
    color: white;
}
a:focus, .linkalike:focus {
    color: gainsboro;
}
.active:focus, a.active:focus {
    color: gray;
    background: lightsteelblue;
}
.messagebox {
    padding: 1em 0 0 0;
    border: none;
    background: transparent;
    position: fixed;
    width: 22em;
    bottom: 0;
    right: 0;
    font-size: 1.25em;
}
.messagebox > * {
    border: 1px silver solid;
    width: 20em;
    margin: .25em .25em .25em auto;
    padding: .25em;
}
.messagebox h1 {
    font-size: 1em;
    text-decoration: blink;
}
.messagebox:hover > * {
    margin-right: -19.5em;
}
.messagebox:hover > *:hover {
    margin-right: .25em;
}
.warning, .warning h1 {
    color: saddlebrown;
    border-color: chocolate;
    background: lemonchiffon;
}
.warning h1 {
    color: chocolate;
}
.info, .info h1 {
    color: darkgreen;
    border-color: forestgreen;
    background: palegreen;
}
.info h1 {
    color: forestgreen;
}
.error, .error h1 {
    color: darkred;
    border-color: firebrick;
    background: peachpuff;
}
.error h1 {
    color: firebrick;
}
.pages {
    padding: .25em;
}
.menu {
    margin: 0;
    text-align: center;
    padding: .1em 0;
    border-top-width: 0;
}
.topiclist p, h2, .attachementtitle, .menu, .footerlinks, .pages, .insertformbuttons, .headbox .userinfo {
    font-size: .75em;
}
.menu input[type="text"] {
    width: 7.5em;
}
.menu button {
    border: none;
    background: none;
    display: inline;
}
.menu > * {
    padding: 0 1em;
}
form {
    display: inline;
}
.options form > * {
    margin: 0.5em 0;
}
a.coloroption {
    border: 1px black solid;
    text-decoration: none;
    display: inline-block;
    width: 1.5em;
}
a.coloroption:hover {
    border-color: dodgerblue;
}
.suboption {
    background: whitesmoke;
    border: 1px gainsboro solid;
    margin-left: .75em;
}
.suboption h2 {
    font-size: 1em;
    color: black;
}
.postbox textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 54em;
    min-height: 2em;
    height: 2em;
}
.postbox textarea:focus, .postbox textarea.inedit {
    height: 24em;
}
.postbox img {
    max-width: 256px;
    max-height: 128px;
    border: 1px gray solid;
}
.postbox .avatar {
    color: gainsboro;
    background: whitesmoke;
    margin: -0.25em 0 .5em 1em;
    font-variant: small-caps;
    font-weight: bolder;
    float: right;
    font-size: 1em;
    font-family: serif;
    font-style: italic;
    max-width: 7.5em;
    min-width: 2.5em;
    height: 5em;
    overflow: hidden;
    text-align: center;
}
img.smiley, img.icon {
    border: none;
    width: 1em;
    height: 1em;
}
ul.topiclist, ul.attachements {
    list-style: none;
}
li {
    margin-left: 2em;
}
.userlist .avatar {
    height: 3.5em;
    margin-top: 1em;
}
.topiclist h1 {
    font-size: 1em;
}
.mark {
    color: palevioletred;
    font-weight: bolder;
}
.newpost, .newpost .avatar {
    border-color: palevioletred;
}
h1.newpost, .newpost h1, .newpost .title, input.activesearch {
    background: lemonchiffon;
    border-color: palevioletred;
}
