* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto .5em auto;
    padding: 0 .5em;
    font-family: sans-serif;
    color: black;
    background: url('img/hg.png') no-repeat top center fixed gainsboro;
    max-width: 46em;
}
body > * {
    padding: 0 1em 1em 1em;
    margin-top: .5em;
    background: white;
    border: 1px gray solid;    
}
body > * > * {
    margin: .75em 0;
}
.comment > * {
    margin: .5em .25em;
}
body > * > h1, body > * h2 {
    font-weight: bolder;
}
body > * > h1 {
    border-bottom: 1px gainsboro solid;
}
body > * > h2, .suboption h2, .comment h2 {
    font-size: 1em;
}
body > * > h2, .comment h2 {
    color: black;
    text-decoration: underline;
}
body > * > h1, .comment h2.title {
    color: gray;
    text-decoration: none;
}
.comment h2.title {
    margin-top: 0;
}
.loginform, .menu, .pages, .headbox {
    background: whitesmoke;
}
img {
    max-width: 13em;
    max-height: 8em;
}
input, textarea, select {
    font-size: 1em;
    border: 1px silver solid;
    background: white;
    color: #006;
}
input[type="color"], input[type="url"], input[type="email"], input[type="text"], input[type="password"] {
    width: 16em;
}
input:hover, textarea:hover, select:hover {
    border-color: steelblue;
}
input:focus, textarea:focus, select:focus {
    border-color: dodgerblue;
}
a, .linkalike {
    color: steelblue;
    text-decoration: underline;
    display: inline;
    border: none;
    background: none;
    font-size: 1em;
    font-family: sans-serif;
}
a > img {
    border: 1px steelblue solid;
}
a:hover, .linkalike:hover {
    color: dodgerblue;
    text-decoration: none;
    cursor: pointer;
}
a:hover > img {
    border-color: dodgerblue;
}
.active {
    background: steelblue;
    color: white;
    text-decoration: none;
}
.active:hover, a.active:hover {
    background: dodgerblue;
    color: white;
}
a:focus, .linkalike:focus {
    color: gainsboro;
}
.active:focus, a.active:focus {
    color: gray;
    background: lightsteelblue;
}
.messagebox {
    padding: 0;
    border: none;
    background: transparent;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
}
.messagebox > * {
    border: 1px silver solid;
    width: 23em;
    margin: 0.25em 0 0.25em auto;
    padding: 0.25em;
}
.messagebox h1 {
    text-decoration: blink;
}
.messagebox:hover > * {
    margin-right: -22em;
}
.messagebox:hover > *:hover {
    margin-right: 0;
}
.warning, .warning h1 {
    color: saddlebrown;
    border-color: chocolate;
    background: lemonchiffon;
}
.warning h1 {
    color: chocolate;
}
.info, .info h1 {
    color: darkgreen;
    border-color: forestgreen;
    background: palegreen;
}
.info h1 {
    color: forestgreen;
}
.error, .error h1 {
    color: darkred;
    border-color: firebrick;
    background: peachpuff;
}
.error h1 {
    color: firebrick;
}
.pages, .menu {
    margin: 0;
    padding: 0;
}
.pages {
    text-align: right;
    margin-bottom: -0.5em;
}
.menu {
    text-align: center;
    padding: .1em 0;
    border-top-width: 0;
}
h1, .comment h2.title, .attachementtitle, .menu, .footerlinks, .pages, .insertformbuttons, .headbox .userinfo {
    font-size: .75em;
}
.menu input[type="text"] {
    width: 7.5em;
}
.menu button {
    border: none;
    background: none;
    display: inline;
}
.menu > * {
    padding: 0 1em;
}
form {
    display: inline;
}
.options form > * {
    margin: 0.5em 0;
}
a.coloroption {
    border: 1px black solid;
    text-decoration: none;
    display: inline-block;
    width: 1.5em;
}
a.coloroption:hover {
    border-color: dodgerblue;
}
.suboption, .comment {
    background: whitesmoke;
    border: 1px gainsboro solid;
}
.suboption {
    margin-left: .75em;
}
.comment {
    margin-left: 3em;
}
.postbox textarea {
    width: 100%;
    min-width: 100%;
    max-width: none;
    max-height: 54em;
    min-height: 2em;
    height: 2em;
}
.comment textarea {
    min-height: 1.25em;
    height: 1.25em;
}
.postbox textarea:focus {
    height: 24em;
}
.comment textarea:focus {
    height: 12em;
}
.postbox img {
    max-width: 256px;
    max-height: 128px;
    border: 1px gray solid;
}
.postbox .avatar {
    color: gainsboro;
    background: whitesmoke;
    margin: -0.25em 0 .5em 1em;
    font-variant: small-caps;
    font-weight: bolder;
    float: right;
    font-size: 1em;
    font-family: serif;
    font-style: italic;
    max-width: 7.5em;
    min-width: 2.5em;
    height: 5em;
    overflow: hidden;
    text-align: center;
}
.comment .avatar {
    margin-top: 0.25em;
    max-width: 5em;
    min-width: 2em;
    height: 3em;
}
img.smiley, img.icon {
    border: none;
    width: 1em;
    height: 1em;
}
