body {
    margin: 0 auto .5em auto;
    padding: 0 .5em;
    font-family: sans-serif;
    color: black;
    background: url('img/hg.png') no-repeat top center fixed gainsboro;
    max-width: 46em;
}
body > * {
    padding: .25em 1em 1em 1em;
    margin-top: .5em;
    background: white;
    border: 1px dimgray solid;    
}
body > * > h2 {
    border-bottom: 1px gainsboro solid;
    color: gray;
}
.loginform, .menu, .pages, .headbox {
    background: whitesmoke;
}
input, textarea, select {
    font-size: 1em;
    border: 1px silver solid;
    background: white;
    color: #006;
}
input:hover, textarea:hover, select:hover {
    border-color: steelblue;
}
input:focus, textarea:focus, select:focus {
    border-color: dodgerblue;
}
a, .linkalike {
    color: steelblue;
    text-decoration: underline;
    display: inline;
    border: none;
    background: none;
    font-size: 1em;
    font-family: sans-serif;
}
a:hover, .linkalike:hover {
    color: dodgerblue;
    text-decoration: none;
    cursor: pointer;
}
.active {
    background: steelblue;
    color: white;
    text-decoration: none;
}
.active:hover, a.active:hover {
    background: dodgerblue;
}
a:focus, .linkalike:focus {
    color: gainsboro;
}
.active:focus, a.active:focus {
    color: gray;
    background: lightsteelblue;
}
.info, .info h2 {
    color: darkgreen;
    border-color: forestgreen;
    background: palegreen;
}
.info h2 {
    color: forestgreen;
}
.error, .error h2 {
    color: darkred;
    border-color: firebrick;
    background: peachpuff;
}
.error h2 {
    color: firebrick;
}
.pages, .menu {
    background: gainsboro;
    margin: 0;
    padding: 0;
}
.pages {
    text-align: right;
    margin-bottom: -0.5em;
}
.menu {
    text-align: center;
}
h2, .attachementtitle, .menu, .footerlinks, .pages, .insertformbuttons, .headbox .userinfo {
    font-size: .75em;
}
.menu input[type="text"] {
    width: 7.5em;
}
.menu button {
    border: none;
    background: none;
    display: inline;
    padding-left: 0;
    padding-right: 0;
}
.menu > * {
    padding: 0 1em;
}
form {
    display: inline;
    padding: 0;
    margin: 0;
}
a.coloroption {
    border: 1px black solid;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 1.5em;
}
a.coloroption:hover {
    border-color: dodgerblue;
}
.userlist {
    width: 12em;
    height: 15em;
    overflow: scroll;
    border: 1px silver solid;
    margin-right: 2em;
}
.userlist p {
    margin: 0;
}
.useradmin_form th {
    text-align: left;
    font-weight: normal;
    vertical-align: top;
}

