* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto .5em auto;
    padding: 0 .5em;
    font-family: sans-serif;
    color: black;
    background: url('img/hg.png') no-repeat top center fixed gainsboro;
    max-width: 46em;
}
body > * {
    padding: 0 1em 1em 1em;
    margin-top: .5em;
    background: white;
    border: 1px gray solid;    
}
body > * > * {
    margin: .75em 0;
}
body > * > h1, body > * > h2 {
    font-weight: bolder;
}
body > * > h1 {
    border-bottom: 1px gainsboro solid;
    color: gray;
}
body > * > h2 {
    color: black;
    font-size: 1em;
}
.loginform, .menu, .pages, .headbox {
    background: whitesmoke;
}
img {
    max-width: 13em;
    max-height: 8em;
}
input, textarea, select {
    font-size: 1em;
    border: 1px silver solid;
    background: white;
    color: #006;
}
input[type="text"], input[type="password"] {
    width: 16em;
}
input:hover, textarea:hover, select:hover {
    border-color: steelblue;
}
input:focus, textarea:focus, select:focus {
    border-color: dodgerblue;
}
a, .linkalike {
    color: steelblue;
    text-decoration: underline;
    display: inline;
    border: none;
    background: none;
    font-size: 1em;
    font-family: sans-serif;
}
a > img {
    border: 1px steelblue solid;
}
a:hover, .linkalike:hover {
    color: dodgerblue;
    text-decoration: none;
    cursor: pointer;
}
a:hover > img {
    border-color: dodgerblue;
}
.active {
    background: steelblue;
    color: white;
    text-decoration: none;
}
.active:hover, a.active:hover {
    background: dodgerblue;
    color: white;
}
a:focus, .linkalike:focus {
    color: gainsboro;
}
.active:focus, a.active:focus {
    color: gray;
    background: lightsteelblue;
}
.warning, .warning h1 {
    color: saddlebrown;
    border-color: chocolate;
    background: lemonchiffon;
}
.warning h1 {
    color: chocolate;
}
.info, .info h1 {
    color: darkgreen;
    border-color: forestgreen;
    background: palegreen;
}
.info h1 {
    color: forestgreen;
}
.error, .error h1 {
    color: darkred;
    border-color: firebrick;
    background: peachpuff;
}
.error h1 {
    color: firebrick;
}
.pages, .menu {
    margin: 0;
    padding: 0;
}
.pages {
    text-align: right;
    margin-bottom: -0.5em;
}
.menu {
    text-align: center;
    padding: .1em 0;
    border-top-width: 0;
}
h1, .attachementtitle, .menu, .footerlinks, .pages, .insertformbuttons, .headbox .userinfo {
    font-size: .75em;
}
.menu input[type="text"] {
    width: 7.5em;
}
.menu button {
    border: none;
    background: none;
    display: inline;
}
.menu > * {
    padding: 0 1em;
}
form {
    display: inline;
}
.options form > * {
    margin: 0.5em 0;
}
a.coloroption {
    border: 1px black solid;
    text-decoration: none;
    display: inline-block;
    width: 1.5em;
}
a.coloroption:hover {
    border-color: dodgerblue;
}
.userlist {
    width: 12em;
    height: 15em;
    overflow: scroll;
    border: 1px silver solid;
    margin: 0;
    margin-right: 2em;
    padding: 0;
}
.useradmin_form th {
    text-align: left;
    font-weight: normal;
}

