* {
    padding: 0;
    margin: 0;
}
body > * {
    border-width: 0 0 .25em 0;
    padding: 1em .5em;
}
.menuentry, .menu form {
    display: inline;
}
.popup, .refreshlink, .chatlink {
    display: none;
}
.menu input[type="text"] {
    width: 5em;
}
.menuentry {
    padding: .5em;
}
.menu form {
    white-space: nowrap;
}
h2, h3, h4 {
    font-size: 1em;
}
h2 {
    border-bottom-width: .25em;
}
h1 {
    display: none;
}
.headbox textarea {
    width: 90%;
    font-size: 2.5em;
    height: 5em;
}
.postbox .avatar {
    width: 5em;
    height: 5em;
    vertical-align: top;
    border-width: .25em;
}
a > img {
    border-width: .25em;
}
.smiley {
    width: 3em;
    height: 3em;
}
p {
    margin-top: .5em;
}
.userlist h2, .topiclist h2 {
    margin: .5em 0;
    padding: .5em 0;
}
.userlist p, .topiclist h2 .smallfont {
    text-align: right;
}
.topiclist > h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    background: whitesmoke;
}
.topiclist > p {
    margin-top: 0;
}
h2 .smallfont, .functionlinks {
    display: block;
    font-weight: normal;
}
.messagebox {
    padding: 0;
}
.messagebox *, .suboption {
    padding: .25em .5em;
    border-width: 0 0 .25em 0;
}
.options {
    padding: 0;
}
.menu, .popup, .messagebox > div {
    box-shadow: none;
}
img {
    max-width: 13em;
    max-height: 8em;
}
.editbuttons, #closetextap {
    display: none;
}

