* {
    padding: 0;
    margin: 0;
}
body {
    background: #ccc;
    padding-top: 2em;
    padding-bottom: .25em;
    color: #000;
}
.menu, input, textarea, .postbox {
    border-style: solid;
    border-color: #bbb;
}
.menu {
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    position: fixed;
    padding: .25em 0;
    margin-top: -2em;
    border-width: 0 0 1px;
    background: #ddd;
    border-color: #aaa;
}
.menu * {
    display: inline;
}
.footerlinks, .divider {
    color: #bbb;
}

input, textarea {
    border-width: 1px;
    background: #eee;
    display: inline;
    color: #666;
    font-size: 1em;
    font-family: monospace;
}
input {
    width: 10em;
}
textarea {
    width: 49.5em;
    height: 5em;
}
input[type="text"]:focus, textarea:focus {
    border-color: #999;
}
.menu input[type="text"] {
    width: 5em;
}
input[type="submit"], input[type="reset"], button, a {
    display: inline;
    color: #36f;
    border: none;
    text-decoration: none;
    background: none;
}
input[type="submit"]:hover, input[type="reset"]:hover, button:hover, a:hover {
    text-decoration: underline;
    cursor: pointer;
}
h2 {
    font-size: .75em;
    color: #666;
}
.postbox {
    padding: .25em .5em;
    background: #fff;
    border-width: 1px;
}
.postbox img {
    max-height: 10em;
}
.postbox, .pages {
    margin: 3px auto;
    width: 50em;
    max-width: 50em;
}
.pages {
    text-align: right;
}
.footerlinks {
    font-size: .75em;
}
.footerlinks, .menu {
    text-align: center;
}
.mark {
    color: #c0c;
}
.menu a {
    color: #666;
}
.menu a:hover {
    text-decoration: none;
}
.menu .mark {
    color: #333;
}
