* {
    padding: 0;
    margin: 0;
}
body {
    background: #ccc;
    padding-bottom: .25em;
    color: #000;
}
.menu {
    white-space: nowrap;
    margin: 0 auto;
}
.menu * {
    display: inline;
}
.footerlinks, .divider {
    color: #bbb;
}

input, textarea {
    border-width: 1px;
    background: #eee;
    display: inline;
    color: #666;
    font-size: 1em;
    font-family: monospace;
    border: none;
}
input {
    width: 10em;
}
textarea {
    width: 49.5em;
    min-width: 49.5em;
    max-width: 49.5em;
    height: 5em;
    min-height: 2em;
    max-height: 40em;
}
.menu input[type="text"] {
    width: 5em;
}
input[type="submit"], input[type="reset"], button, a {
    display: inline;
    color: #36f;
    border: none;
    text-decoration: none;
    background: none;
}
input[type="submit"]:hover, input[type="reset"]:hover, button:hover, a:hover {
    text-decoration: underline;
    cursor: pointer;
}
h2 {
    font-size: .75em;
    color: #666;
    border-bottom: 1px #eee solid;
}
.postbox {
    background: #fff;
    border-width: 1px;
}
.postbox img {
    max-height: 10em;
}
.postbox, .pages, .menu {
    padding: .25em .5em;
}
.toppagelink, .postbox, .pages {
    margin: 3px auto;
    width: 50em;
    max-width: 50em;
}
.pages {
    text-align: right;
}
.footerlinks {
    font-size: .75em;
}
.footerlinks, .menu {
    text-align: center;
}
.mark {
    color: #c0c;
}
.pages, .pages a, .footerlinks, .footerlinks a, .menu a, .menu .username {
    color: #666;
}
.actpage {
    font-weight: bolder;
    color: #333;
}
.menu a:hover {
    text-decoration: none;
}
.menu .mark {
    color: #333;
}
.help {
    color: #ccc;
    font-size: .75em;
}
.alert {
    color: #900;
    font-weight: bolder;
}
.linethrough {
    text-decoration: line-through;
}
.underline {
    text-decoration: underline;
}
.bold {
    font-weight: bolder;
}
.italic {
    font-style: italic;
}
img.smiley {
    border: none;
    background: none;
}
img.icon {
    border: none;
}
.userlist {
    border-right: 1px #ccc dashed;
}
.newpost {
    box-shadow: 0 0 3px #fff;
}
