
@import "threadalign.css";
* {
    margin: 0;
    padding: 0;
}
body {
    background: url("../img/hg.png") repeat scroll 0 0 #99CCFF;
    color: #000033;
    line-height: 1.5em;
    min-width: 50em;
}
body > div, body > form {
    background: none repeat scroll 0 0 #CCCCCC;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0 0 0 3px;
    box-shadow: 1px 1px 4px #666666;
    margin: 8px 0;
    padding: 0.5em 1em;
}
.error {
    color: #CC3300;
}
a {
    color: #3366CC;
    text-decoration: underline;
}
a:hover {
    color: #003399;
    text-decoration: underline;
    text-shadow: 0 0 2px #6699FF;
}
div.postbox img {
    max-width: 256px;
    max-height: 256px;
    border: 1px #fff solid;
    box-shadow: 1px 1px 2px #333;
}
div.postbox > img {
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 2px #999999;
    float: left;
    margin-bottom: 0.5em;
    margin-right: 1em;
}
div.ownpost {
    box-shadow: 1px 1px 2px #AAAAAA;
    color: #999999;
}
div.clear {
    clear: both;
}
.menu {
    background: none repeat scroll 0 0 #333333;
    border: medium none;
    box-shadow: 1px 1px 4px #666666;
    margin: -8px 0;
    text-align: right;
}
.menu, .menu a {
    color: #999999;
    text-decoration: none;
}
.menu .logout {
    color: #FF6666;
}
.menu .name {
    color: #FFFFFF;
}
.menu .linktext {
    text-decoration: underline;
}
.menu a:hover .linktext {
    color: #FFFFFF;
}
.menu a:hover * {
    text-shadow: 1px 1px 3px #666666;
}
h1, h2, h3, h4 {
    color: #666699;
    font-size: 1em;
    font-weight: bolder;
}
h1.title {
    color: #000033;
    display: none;
    font-size: 1.5em;
    text-shadow: 1px 1px 4px #666666;
}
.footer {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    margin-bottom: 3em;
    text-align: center;
}
.footer form {
    display: inline;
}
p {
    margin-top: 1.5em;
}
.signature {
    border-top: 2px groove #CCCCCC;
    font-size: 0.8em;
    text-align: right;
}
.signature p {
    margin-top: 0;
}
blockquote {
    background: none repeat scroll 0 0 #DDDDDD;
    border-color: #BBBBBB #FFFFFF #FFFFFF #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #333366;
    padding-left: 1em;
}
div.postbox {
    border: 1px solid #FFFFFF;
    margin-right: 8px;
    margin-top: 8px;
}
div.ownpost {
    border-color: #ddd;
}

