.pages {
    text-align: right;
}
.pages a {
    color: #03f;
}
.postbox {
    background: #ddd;
    border: 1px #369 solid;
    color: #000;
}
.postbox h2 {
    color: #333;
    font-size: 0.75em;
}
.ownpost { 
    background: #ccc;
}
.postbox, .pages {
    margin-top: 3px;
}
.postbox > * {
    padding: .25em 1em;
}
.postbox a img {
    max-width: 256px;
    max-height: 128px;
    border: 1px #fff solid;
}
.postbox a:hover img {
    border-color: #00f;
}
.postbox .titleinfo a {
    display: inline-block;
    min-width: 1em;
    text-align: center;
}
.postbox .titleinfo img {
    border: none;
}

.clear {
    clear: both;
}
.postbox .titleinfo {
    font-weight: normal;
}
.activepost {
    color: #666;
    background-color: #999;
}
.titleinfo .category {
    text-decoration: none;
}
.postbox .category {
    white-space: nowrap;
}
img.smiley, img.icon {
    border: none;
    width: 1em;
    height: 1em;
}
.error {
    color: #c30;
}
.info {
    color: #060;
}
.info, .error {
    border: none;
    background: transparent;
}
.newpost {
    border-color: #fc6;
}
.categorylinks, .msgsuserlist {
    background: #eee;
}

