@import "../../default/css/style.css";

body {
    margin: 8px auto;
    box-shadow: 0 0 16px dimgray;
    background-color: #69c;
    padding: 0;
    border: 3px white solid;
}

.postbox, .menu, .footerlinks, .pages {
    box-shadow: none;
    border: none;
    margin: 0;
}

.postbox, .menu, .pages {
    border-bottom: 1px gray solid;
}

.postbox h2 {
    border: none;
}

.menu {
    background: silver;
}

.footerlinks, .pages {
    background: gainsboro;
}

input, textarea {
    box-shadow: none;
}

.footerlinks {
    padding: .25em;
}

.menu .active:hover, .menu .active {
    padding: .25em;
    border: none;
}
.menu input[type="text"] {
    box-shadow: none;
    border-color: gray;
}
