body {
    margin: .5em auto 1em auto;
    max-width: 45em;
    color: black;
    background: url('../img/hg.png') no-repeat gainsboro;
    box-shadow: 0 .25em 1em gray;
    text-align: justify;
    border-top: 2px steelblue solid;
}

body > * {
    margin: 0;
    padding: .25em 1em;
    background: white;
    border-color: steelblue;
    border-style: solid;
    border-width: 0 2px;
}
img {
    max-width: 128px;
    max-height: 64px;
    border: 1px black solid;
    box-shadow: 0 0 2px silver;
}
a:hover img {
    border-color: dodgerblue;
}
.avatar {
    width: 48px;
    height: 48px;
    box-shadow: none;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}
.postbox h2 {
    font-size: .75em;
    color: gray;
}
.menu, .footerlinks {
    text-align: center;
    white-space: nowrap;
    font-size: .75em;
    background: lightsteelblue;
}
.menu, .footerlinks, .info, .error, .postbox {
    border-bottom: 1px steelblue solid;
}
.footerlinks {
    border-bottom-width: 2px;
    border-top: 1px steelblue solid;
    color: lightsteelblue;
}
form {
    display: inline;
    padding: 0;
    margin: 0;
}
a, .linkalike {
    color: steelblue;
    text-decoration: underline;
    display: inline;
    background: none;
    border: none;
}
a:hover, .linkalike:hover {
    color: dodgerblue;
    text-decoration: none;
    cursor: pointer;
}
a:focus, .linkalike:focus {
    color: silver;
}
.active {
    background: white;
}
.pages {
    text-align: right;
    font-size: .75em;
    background: whitesmoke;
}
textarea.update_post {
    height: 24em;
}
.postbox textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 2em;
    min-height: 2em;
    max-height: 54em;
}
.postbox textarea:focus {
    height: 24em;
}
body > .msgs > p, body > .forum > p, body > .notes > p {
    text-indent: 1em;
}
input, textarea, select {
    font-size: 1em;
    border: 1px steelblue solid;
    background: white;
    color: #006;
}
input:hover, textarea:hover, select:hover {
    border-color: dodgerblue;
}
input:focus, textarea:focus, select:focus {
    border-color: steelblue;
}
.adminmark {
    color: #c33;
}
.inactive {
    color: #999;
}
.info {
    color: darkgreen;
    background: palegreen;
}
.error {
    color: #c30;
    background: peachpuff;
}
.categorylinks, .msgsuserlist, .postboxform {
    background: whitesmoke;
    padding-bottom: .5em;
    border-bottom-width: 1px;
}
.categorylinks p, .msgsuserlist p, .postboxform p {
    padding: .25em .5em;
    margin: 0;
}
.smiley {
    border: none;
    box-shadow: none;
    width: 1em;
    height: 1em;
}
.menu .active {
    color: steelblue;
}
.divider {
    color: lightsteelblue;
}
.activepost {
    color: silver;
}
