@import "../../default/css/style.css";

body {
    margin: 0 auto;
    box-shadow: none;
    background: yellowgreen;
    padding: 8px;
    border: 2px green solid;
}

.postbox, .menu, .footerlinks, .pages {
    box-shadow: none;
    border: none;
    margin: 0;
}
.postbox {
    background: white;
}
.postbox, .menu, .footerlinks {
    border-bottom: 1px green solid;
}
.footerlinks, .pages, .headbox {
    background: whitesmoke;
}

.postbox, .footerlinks, .pages {
    padding-bottom: 0;
}

.postbox h2 {
    border: none;
}

.menu {
    background: limegreen;
}

a, .linkalike, a:hover, .linkalike:hover, a:focus, .linkalike:focus {
    color: green;
}

.postbox a:hover img {
    border-color: green;
}

input, textarea {
    box-shadow: none;
    color: dimgray;
}
input:hover, textarea:hover, select:hover {
    border-color: green;
}
input:focus, textarea:focus, select:focus {
    border-color: green;
}

.footerlinks {
    padding: .25em;
}

.menu .active:hover, .menu .active {
    padding: .25em;
    border: 1px green solid;
    color: green;
}
.menu input[type="text"] {
    box-shadow: none;
    border-color: gray;
}

.headbox .active {
    background: green;
}

img.smiley, img.icon {
    width: auto;
    height: auto;
    vertical-align: text-top;
}
