@import "../../default/css/style.css";

body {
    background: #69c url('../img/hg.png') fixed;
    padding: 0;
    padding-top: 1.75em;
    font-family: serif;
}

.postbox {
    border: 2px white solid;
    border-radius: 4px;
    background-image: url('../img/bottom.png');
    background-repeat: repeat-x;
    background-position: bottom;
    margin-top: 10px;
    box-shadow: 0 0 .5em dimgray;
    text-shadow: 1px 1px 1px white;
    text-align: justify;
}

.postboxentry {
    background-color: gainsboro;
}

.postbox h2 {
    border: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    background: dimgray url('../img/bottom_menu.png') repeat-x bottom;
    width: 100%;
    border-bottom: 1px silver solid;
    box-shadow: 0 0 1em black;
    margin: 0;
}

.menu a, .menu .linkalike {
    color: gainsboro;
}

.footerlinks a, .pages a {
    color: gainsboro;
}

.headbox .active {
    text-shadow: none;
    box-shadow: 1px 1px 2px white;
}

.footerlinks, .pages {
    border: none;
}

.footerlinks {
    padding: .25em;
}

.menu .active:hover, .menu .active {
    padding: .25em;
    border: 1px black solid;
    color: steelblue;
    background: gainsboro;
}
.menu input[type="text"] {
    box-shadow: none;
    border-color: black;
    background-color: gainsboro;
}

.postbox img, .postbox h2 .avatar {
    border: 2px white solid;
    box-shadow: 0 0 2px gray;
}
.postbox img.smiley {
    border: none;
    box-shadow: none;
}
