.menu .linkforum { color: #969 }
.menu .linknotes { color: #993 }
.menu .linkmsgs { color: #396 }
.menu .linkoptions { color: #469 }
.menu .linkregister { color: #963 }
.menu .linklogout { color: #966 }

.menu .activeforum {
    border-color: #639;
    color: #c9f;
    background: #306;
}
.menu .activenotes {
    border-color: #993;
    color: #ff9;
    background: #330;
}
.menu .activemsgs {
    border-color: #396;
    color: #9fc;
    background: #030;
}
.menu .activeoptions {
    border-color: #369;
    color: #9cf;
    background: #003;
}
