.error {
    color: #c30;
}
h1, h2, h3, h4 {
    color: #666699;
    font-size: 1em;
    font-weight: bolder;
}

blockquote {
    color: #339;
    border-left: 1px #339 solid;
    padding-left: .25em;
    margin-left: 1em;
}
input, textarea, select {
    border: 1px #999 solid;
    background: #fff;
    color: #006;
}
input[type="text"], input[type="password"] {
    width: 10em;
}
.postbox textarea {
    width: 47.5em;
    height: 5em;
    margin-bottom: .25em;
}
.divider {
    color: #000;
}
.adminmark {
    color: #c33;
}
.inactive {
    color: #999;
}
input:hover, textarea:hover, select:hover {
    border-color: #99f;
}
input:focus, textarea:focus, select:focus {
    border-color: #66c;
}
button, input[type="submit"], input[type="reset"], select {
    cursor: pointer;
}
button, input[type="submit"], input[type="reset"] {
    color: #ccc;
    background: #404040;
    border: 1px #000 solid;
}
button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    color: #fff;
    border-color: #222;
    background: #666;
}

.options form > * {
    margin: 0 auto;
}
.options form tr {
    border-style: dashed;
    border-color: #999;
    border-width: 1px 0;
}

form table {
    border: none;
    background: none;
    border-collapse: collapse;
}
form th, form td {
    padding: .5em;
    vertical-align: top;
}
form th {
    text-align: right;
}
.userlist {
    width: 12em;
    height: 15em;
    overflow: scroll;
}

input.linkalike, .linkalike, a {
    color: #36c;
    text-decoration: underline;
    display: inline;
    border: none;
    background: none;
    font-size: 1em;
}
input.linkalike:hover, .linkalike:hover, a:hover {
    color: #00f;
    text-decoration: none;
    background: none;
}
.mark {
    color: #c63;
}
.alert {
    color: #c00;
    text-decoration: blink;
    text-transform: uppercase;
    font-weight: bolder;
}
