.menu {
    text-align: center;
    padding: 0.15em 0;
    white-space: nowrap;
}
.menu .name {
    color: #fff;
}
.menu form {
    display: inline;
}
.menu input[type="text"] {
    width: 7.5em;
    border-color: #369;
}
.menu .activesearch {
    border: 1px #963 solid;
}
.menu button {
    border: none;
    display: inline;
    background: none;
}
.menu input.activesearch {
    background-color: #fc9;
}
.menu a, .menu .linktext {
    text-decoration: none;
    border: 1px transparent solid;
}
.menu .username, .menu .clock {
    color: #333;
}
.menu .mark {
    color: #963;
}
.menu .linktext { 
    color: #036;
}
.menu .active .mark {
    color: #fc6;
}
.menu .active {
    border-color: #369;
    background: #ccc;
}
