.pages {
    text-align: right;
}
.pages a {
    color: #03f;
}
.postbox {
    background: #ccc;
    border: 1px #369 solid;
    color: #000;
}
.postbox h2 {
    background: #fff url('../img/tg.png') bottom repeat-x;
    color: #333;
    font-size: 0.75em;
    border-top: 1px #abf solid;
    background-color: #69f;
}
.postbox, .pages {
    margin-top: 3px;
}
.postbox > * {
    padding: .25em 1em;
}
.postbox img {
    max-width: 256px;
    max-height: 128px;
    border: 1px #fff solid;
}
.postbox .titleinfo a {
    display: inline-block;
    min-width: 1em;
    text-align: center;
}
.postbox .titleinfo img {
    border: none;
}

.clear {
    clear: both;
}
.postbox .titleinfo {
    font-weight: normal;
}
.activepost {
    color: #666;
    background-color: #999;
}
.activepost h2 {
    background-image: url('../img/ag.png');
}
.titleinfo .category {
    text-decoration: none;
}
.postbox .category {
    white-space: nowrap;
}
.ownpost h2 { 
    background-color: #9ad;
}
img.smiley {
    border: none;
    background: none;
}
img.icon {
    border: none;
}
.error {
    color: #c30;
    border: none;
    background: transparent;
}
