body {
    width: 56em;
    margin: 0 auto;
    background: url('../img/hg.png') no-repeat 0 0 gainsboro;
    font-family: sans-serif;
    color: black;
}
body > div {
    border-width: 1px;
    border-style: solid;
    background: white;
    padding: .1em .5em .25em .5em;
    margin-top: .75em;
    border-radius: .25em;
}
.postbox h2 {
    font-size: .75em;
    border-bottom: 1px silver solid;
    color: #666;
}
.postbox img {
    max-width: 256px;
    max-height: 128px;
    box-shadow: .1em .1em .2em silver;
}
.postbox a:hover img {
    box-shadow: .1em .1em .2em dodgerblue;
}
.postbox > p {
    margin: 1em;
}
input, textarea, select {
    font-size: 1em;
    border: 1px silver solid;
    background: white;
    color: #006;
}
input:hover, textarea:hover, select:hover {
    border-color: steelblue;
}
input:focus, textarea:focus, select:focus {
    border-color: dodgerblue;
}
a, .linkalike {
    color: steelblue;
    text-decoration: underline;
    display: inline;
    border: none;
    background: none;
    font-size: 1em;
    font-family: sans-serif;
    box-shadow: none;
}
a:hover, .linkalike:hover {
    color: dodgerblue;
    text-decoration: none;
    cursor: pointer;
}
.pages {
    text-align: right;
}
.pages, .menu {
    background: none;
    border: none;
    box-shadow: none;
}
.menu, .footerlinks {
    text-align: center;
}
form {
    display: inline;
    padding: 0;
    margin: 0;
}
img.smiley, img.icon {
    border: none;
    box-shadow: none;
    width: 1em;
    height: 1em;
}
.postbox textarea {
    width: 54em;
    min-width: 54em;
    max-width: 54em;
    height: 5em;
    min-height: 5em;
    max-height: 54em;
}
.postbox textarea:focus {
    height: 32em;
}
.postbox h2 a:hover img {
    box-shadow: none;
}
.divider {
    display: none;
}
.adminmark {
    color: #c33;
}
.inactive {
    color: #999;
}
.error {
    color: #c30;
}
.info {
    color: darkgreen;
    border-color: forestgreen;
    background: palegreen;
}
.error {
    border-color: firebrick;
    background: peachpuff;
}
.newpost {
    border-color: #fc6;
}
.categorylinks, .msgsuserlist, .postboxform {
    background: whitesmoke;
}
.categorylinks p, .msgsuserlist p, .postboxform p {
    padding: .25em .5em;
    margin: 0;
}
.menu {
    border-bottom: 1px steelblue solid;
    margin: 0 1em 1.5em 1em;
    padding: .2em;
    white-space: nowrap;
    border-radius: 0;
}
.menu input[type="text"] {
    width: 7.5em;
    background: whitesmoke;
}
.menu button {
    border: none;
    background: none;
    display: inline;
}
.menu .linktext {
    border-color: transparent;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    padding: 1em;
    border-radius: .25em;
}
.menu .active, body > div, .menu .active:hover {
    border-color: steelblue;
    background: white;
    box-shadow: .1em .1em .3em lightsteelblue;
}
.userlist {
    width: 12em;
    height: 15em;
    overflow: scroll;
}
.userlist p {
    margin: 0;
}
.help {
    font-size: .75em;
    color: silver;
}
.mark {
    color: #c63;
}
.alert {
    color: #c00;
    text-transform: uppercase;
    font-weight: bolder;
}
.linethrough {
    text-decoration: line-through;
}
.underline {
    text-decoration: underline;
}
.bold {
    font-weight: bolder;
}
.italic {
    font-style: italic;
}
.quote {
    color: dimgrey;
}
.postbox .username {
    font-weight: bolder;
}
.activepost {
    background: gainsboro;
}
input.activesearch {
    border-color: #c63;
}
textarea.update_post {
    height: 32em;
}
.titleinfo {
    font-weight: normal;
}
input[type="password"], input[type="text"], textarea {
    box-shadow: inset .05em .05em .2em gainsboro;
}
.postbox .avatar {
    color: gainsboro;
    background: whitesmoke;
    margin: -0.5em 0 .5em .5em;
    font-variant: small-caps;
    font-weight: bolder;
    float: right;
    font-size: 1em;
    border: .3em white solid;
    box-shadow: .1em .1em .2em gainsboro;
    font-family: serif;
    font-style: italic;
    width: 5em;
    height: 5em;
    overflow: hidden;
    text-align: center;
}
.options form {
    display: block;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-left: 1em;
}
