body {
    margin: 0 auto;
    padding: 0 8px;
    background: gainsboro;
    font-family: sans-serif;
    color: black;
    background: url('../img/hg.png') no-repeat top center fixed gainsboro;
    max-width: 52em;
}
body > div {
    padding: .25em .5em 1em .5em;
    margin-top: .5em;
    background: white;
}
body > div, .menu .active {
    box-shadow: 0 0 .25em darkgray;
}
.attachementtitle {
    font-weight: normal;
}
.postbox h2, .attachementtitle {
    color: #666;
    margin: .5em 1em;
}
.postbox h2 {
    border-bottom: 1px silver solid;
    margin-right: 0;
}
.postbox img {
    max-width: 256px;
    max-height: 128px;
    border: 1px dimgrey solid;
}
.postbox a:hover img {
    border-color: dodgerblue;
}
.postbox > p {
    margin: 1em;
}
input, textarea, select {
    font-size: 1em;
    border: 1px silver solid;
    background: white;
    color: #006;
}
input[type="text"], input[type="password"], textarea {
    box-shadow: inset 0 0 .1em silver;
}
input:hover, textarea:hover, select:hover {
    border-color: steelblue;
}
input:focus, textarea:focus, select:focus {
    border-color: dodgerblue;
}
a, .linkalike {
    color: steelblue;
    text-decoration: underline;
    display: inline;
    border: none;
    background: none;
    font-size: 1em;
    font-family: sans-serif;
}
a:hover, .linkalike:hover {
    color: dodgerblue;
    text-decoration: none;
    cursor: pointer;
}
.pages {
    text-align: right;
}
.pages, .menu, .footerlinks {
    background: whitesmoke;
    padding: .1em;
    margin: 0;
}
.footerlinks, .pages {
    margin-top: .75em;
}
.footerlinks {
    border-bottom-width: 0;
}
.menu, .footerlinks {
    text-align: center;
}
form {
    display: inline;
    padding: 0;
    margin: 0;
}
img.smiley, img.icon {
    border: none;
    width: 1em;
    height: 1em;
}
.postbox textarea {
    width: 100%;
    min-width: inherit;
    max-width: none;
    height: 2em;
    min-height: 2em;
    max-height: 54em;
}
.postbox textarea:focus {
    height: 24em;
}
.divider {
    display: none;
}
.adminmark {
    color: #c33;
}
.inactive {
    color: #999;
}
.error {
    color: #c30;
}
.info {
    color: darkgreen;
    border-color: forestgreen;
    background: palegreen;
}
.error {
    border-color: firebrick;
    background: peachpuff;
}
.headbox {
    padding-bottom: .5em;
    background: whitesmoke;
}
.headbox p {
    padding: .25em .5em;
    margin: 0;
}
.postbox h2, .attachementtitle, .menu, .footerlinks, .pages, .insertformbuttons {
    font-size: .75em;
}
.menu input[type="text"] {
    width: 7.5em;
}
.menu button {
    border: none;
    background: none;
    display: inline;
    padding-left: 0;
    padding-right: 0;
}
.menu > * {
    margin: 0;
}
.menu .linktext {
    border-color: transparent;
    border-style: solid;
    padding: .5em;
}
.menu .active, body > div, .menu .active:hover {
    border: 1px lightslategray solid;
}
.menu, .menu .linktext {
    border-width: 0 1px 1px 1px;
}
.menu .active {
    border-color: slategray;
    background: whitesmoke;
}
.menu .active:hover {
    border-color: dodgerblue;
}
.newpost {
    border-color: palevioletred;
}
.newpost h2 {
    border-bottom-color: palevioletred;
}
.newpost {
    box-shadow: 0 0 .25em palevioletred;
}
.headbox .active {
    color: whitesmoke;
    background: steelblue;
}
.userlist {
    width: 12em;
    height: 15em;
    overflow: scroll;
}
.userlist p {
    margin: 0;
}
.help {
    color: silver;
}
.mark {
    color: palevioletred;
}
.alert {
    color: #c00;
    text-transform: uppercase;
    font-weight: bolder;
}
.linethrough {
    text-decoration: line-through;
}
.underline {
    text-decoration: underline;
}
.bold {
    font-weight: bolder;
}
.italic {
    font-style: italic;
}
.quote {
    color: dimgrey;
}
.emotion {
    color: dimgrey;
    font-variant: small-caps;
}
.emotion:before { content:"*" }
.emotion:after  { content:"*" }
.postbox .username {
    font-weight: bolder;
}
.activepost {
    background: gainsboro;
}
input.activesearch {
    border-color: #c63;
}
textarea.update_post {
    height: 24em;
}
.titleinfo {
    font-weight: normal;
}
.postbox .avatar {
    color: gainsboro;
    background: whitesmoke;
    margin: -0.25em 0 .5em 1em;
    font-variant: small-caps;
    font-weight: bolder;
    float: right;
    font-size: 1em;
    font-family: serif;
    font-style: italic;
    max-width: 7.5em;
    min-width: 3em;
    height: 5em;
    overflow: hidden;
    text-align: center;
}
.options form {
    display: block;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-left: 1em;
}
a:focus, .linkalike:focus {
    color: gainsboro;
}
.menu a:focus {
    color: lightsteelblue;
}
.send, .headbox .username {
    font-weight: bolder;
}
a.newposts {
    font-weight: bolder;
}

